<div class="flex justify-content-center border-nav">
    <div class="w-full container">
        <p-menubar [model]="navMenus">
            <ng-template pTemplate="start">
                <div class="navbar-brand flex" routerLink="/dashboard/admin">
                    <img src="../../../../assets/logos/brand.png" class="w-3rem h-3rem mr-3" alt="ilc-image">
                    <div class="mr-3 main-text">
                        <h5 class="title">Lawencon</h5>
                        <p class="sub-title">International Community</p>
                    </div>
                </div>
            </ng-template>

            <div class="relative profile">
                <div class="flex align-items-center text-900 cursor-pointer hover:bg-gray-100  px-3" pStyleClass="@next"
                    enterClass="hidden" leaveToClass="hidden" [hideOnOutsideClick]="true">
                    <span>
                        <img *ngIf="myProfile" src="{{urlFile}}{{myProfile}}" class="img-fluid images table-img"
                            alt="user admin image">
                        <img *ngIf="!myProfile" src="../../../../assets/logos/user.jpg"
                            class="img-fluid images table-img" alt="user admin image">
                    </span>
                    <i class="pi pi-chevron-down text-xs ml-2"></i>
                </div>
                <div class="absolute right-0 py-3 shadow-2 w-12rem bg-white hidden">
                    <ul class="list-none p-0 m-0">
                        <li><a class="block px-3 pt-2 pb-3 no-underline text-black-alpha-60 hover:bg-gray-100 transition-all transition-duration-200 cursor-pointer"
                                routerLink="/profiles/admin">
                                <i class="fa-solid fa-user mr-2"></i>
                                Profile
                            </a></li>
                        <li><a class="block px-3 py-2 no-underline text-black-alpha-60 hover:bg-gray-100 transition-all transition-duration-200 cursor-pointer"
                                (click)="logOut()">
                                <i class="fa-solid fa-power-off mr-2"></i>
                                Log Out
                            </a></li>
                    </ul>
                </div>
            </div>
        </p-menubar>
    </div>
</div>