<div class="flex body-color justify-content-center">
    <div class="w-full body-color container">
        <div class=" flex justify-content-center flex-wrap">
            <div class="grid w-full mt-1">
                <p-breadcrumb [model]="items" class="w-full"></p-breadcrumb>
            </div>
            <div class="grid w-full ">
                <h1 class="text-center w-full mt-5 mb-2">
                    <div class="flex justify-content-center align-items-center mb-5">
                        <div
                            class="border-circle main-color text-white flex align-items-center justify-content-center w-3rem h-3rem">
                            <i class="fa-solid fa-briefcase text-xl"></i>
                        </div>
                        <h4 class="ml-3 md:text-3xl text-2xl">
                            Industries Update
                        </h4>
                    </div>
                </h1>
            </div>
            <div class="grid w-full ">
                <button pButton type="button" routerLink="/industries" class="p-button-outlined mb-5 ml-2"
                    label="BACK"></button>
            </div>
            <div class="grid w-full mb-5 p-3 bg-white">
                <form class="card w-full mx-3 border-0 md:px-4 my-3" [formGroup]="updateIndustryForm">
                    <div class="formgrid grid">
                        <div class="field col-12 md:col-6">
                            <label for="industryName">Industry Name <span class="text-red-500">*</span></label>
                            <input pInputText id="industryName" formControlName="industryName" name="industryName"
                                type="text" class="w-full p-inputtext-sm" value="{{industry.industryName}}">
                        </div>
                        <div class="field col-12 md:col-6">
                            <label for="industryCode">Industry Code</label>
                            <input pInputText id="industryCode" name="industryCode" type="text"
                                class="w-full p-inputtext-sm" disabled value="{{industry.industryCode}}">
                        </div>
                        <div class="col-12 my-3">
                            <button pButton [loading]="loadingIndustry" type="submit" id="industry-save" label="SUBMIT"
                                class="main-color" (click)="submitUpdate()"></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>