<footer class="body-color pt-8">
    <div class="flex justify-content-center main-color ">
        <div class="container w-full ">
            <div class="grid pt-6 pb-3 text-white mx-3">
                <div class="col-12 md:col-6">
                    <div class="navbar-brand flex" routerLink="/homes/type/threads">
                        <img src="../../../../assets/logos/brand.png" class="w-3rem h-3rem mr-3" alt="ilc-image">
                        <div class="mr-3 line-height-1">
                            <h2 class="">Lawencon</h2>
                            <p class="">International Community</p>
                        </div>
                    </div>
                    <div class="mt-5 flex justify-content-center md:justify-content-start">
                        <a href="https://github.com/triajidhan/frontend-lawencon-community" target="_blank"
                            class="no-underline">
                            <div
                                class="mr-4 h-2rem w-2rem flex justify-content-center align-items-center text-white border-circle cursor-pointer main-color hover:bg-purple-500">
                                <i class="fa-brands fa-github  text-4xl"></i>
                            </div>
                        </a>
                        <a href="https://www.facebook.com/profile.php?id=100082978884639" target="_blank"
                            class="no-underline">
                            <div
                                class="mr-4 h-2rem w-2rem flex justify-content-center align-items-center bg-white border-circle cursor-pointer main-text hover:text-purple-500">
                                <i class="fa-brands fa-facebook-f text-2xl"></i>
                            </div>
                        </a>
                        <a href="https://twitter.com/apamungkasa/status/1389551988061450241" class="no-underline">
                            <div
                                class="mr-4 h-2rem w-2rem flex justify-content-center align-items-center bg-white border-circle cursor-pointer main-text hover:text-purple-500">
                                <i class="fa-brands fa-twitter text-xl"></i>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-12 md:col-6 mt-3 md:mt-0">
                    <div>
                        <div class="flex align-items-center">
                            <i class="fa-solid fa-location-dot mr-4 text-2xl"></i>
                            <p>
                                Pakuwon Tower 22nd floor,
                                Jl Casablanca Kav 88, Jakarta Selatan,
                                DKI Jakarta 12870
                            </p>
                        </div>
                        <div class="flex align-items-center mt-3">
                            <i class="fa-solid fa-phone mr-4 text-2xl"></i>
                            <p>
                                081-2345-6789
                            </p>
                        </div>
                    </div>

                </div>
                <div class="col-12 text-white-alpha-40 text-center pt-5">
                    <p>&copy; Lawencon International Community. All right reserved 2022</p>
                </div>
            </div>
        </div>
    </div>
</footer>