<div class="flex justify-content-center border-nav sticky top-0 z-5 bg-white">
    <div class="w-full container">
        <p-menubar [model]="navMenus">
            <ng-template pTemplate="start">
                <div class="navbar-brand flex" routerLink="/homes/type/threads">
                    <img src="../../../../assets/logos/brand.png" class="w-3rem h-3rem mr-3" alt="ilc-image">
                    <div class="mr-3 main-text">
                        <h5 class="title">Lawencon</h5>
                        <p class="sub-title">International Community</p>
                    </div>
                </div>
            </ng-template>

            <div class="flex align-items-center">
                <div *ngIf="!myStatusSubscribe" class="start-premium">
                    <button pButton class="mr-1 bg-orange-300 text-sm" label="START PREMIUM"
                        (click)="showPopUpDialog()">
                        <i class="fa-regular fa-gem text-lg mr-1"></i>
                    </button>
                </div>
                <div class="relative profile">
                    <div class="flex align-items-center text-900 cursor-pointer hover:bg-gray-100 px-3"
                        pStyleClass="@next" enterClass="hidden" leaveToClass="hidden" [hideOnOutsideClick]="true">
                        <span>
                            <div *ngIf="(myProfile == 'null' || myProfile == ''); then isNotProfile else isProfile">
                            </div>
                            <ng-template #isProfile>
                                <img src="{{urlFile}}{{myProfile}}" class="img-fluid images table-img"
                                    alt="user admin image">
                            </ng-template>
                            <ng-template #isNotProfile>
                                <img src="../../../../assets/logos/user.jpg" class="img-fluid images table-img"
                                    alt="user admin image">
                            </ng-template>
                        </span>
                        <i class="pi pi-chevron-down text-xs ml-2"></i>
                    </div>
                    <div class="absolute right-0 py-3 shadow-2 w-12rem bg-white hidden z-5">
                        <ul class="list-none p-0 m-0">
                            <li><a class="block px-3 pt-2 pb-3 no-underline text-black-alpha-60 hover:bg-gray-100 transition-all transition-duration-200 cursor-pointer"
                                    routerLink="/profiles/member">
                                    <i class="fa-solid fa-user mr-2"></i>
                                    Profile
                                </a></li>
                            <li><a (click)="logOut()"
                                    class="block px-3 py-2 no-underline text-black-alpha-60 hover:bg-gray-100 transition-all transition-duration-200 cursor-pointer"
                                    routerLink="/login/member">
                                    <i class="fa-solid fa-power-off mr-2"></i>
                                    Log Out
                                </a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </p-menubar>
    </div>
</div>


<p-dialog [(visible)]="display">
    <div class="grid bg-white border-round-xl max-w-27rem mb-5">
        <div class="col-12 md:px-3 px-1">
            <div *ngIf="!myStatusSubscribe" class="flex align-items-center justify-content-center mb-5">
                <div class="border-circle bg-orange-300 icon-box flex align-items-center justify-content-center">
                    <i class="fa-regular fa-gem icon text-xl"></i>
                </div>
                <h2 class=" ml-3">
                    Start Premium Account
                </h2>
            </div>
            <form class="card" [formGroup]="paymentSubsForm">
                <p class=" mb-2">Please make a payment to account number <b class="main-text">12378901</b>
                    in
                    the amount of <b class="main-text">IDR
                        50.000,-</b> . And send proof of payment here</p>
                <div class="field col-12">
                    <p-fileUpload #uploadComponent id="file" name="file" accept="image/*"
                        (uploadHandler)="fileUpload($event)" [auto]=true [customUpload]="true" chooseLabel="Choose">
                    </p-fileUpload>
                </div>
                <button pButton
                    [disabled]="event.length == 0 || (event.length != 0 && event[event.length-1].length == 0)"
                    type="submit" (click)="submitInsert()" class="main-color w-full mt-3" label="SUBMIT"></button>
            </form>
        </div>
    </div>
</p-dialog>