<div class="w-full body-color">
    <div class=" flex justify-content-center flex-wrap">
        <div class="grid w-full md:w-10 container">
            <div class="col-4">
                <div class=" flex align-items-center mb-4 mt-5">
                    <div class="border-circle bg-indigo-500 icon-box flex align-items-center justify-content-center">
                        <i class="fa-regular fa-file icon text-2xl"></i>
                    </div>
                    <h2 class=" ml-3">
                        Pages
                    </h2>
                </div>
                <p-card>
                    <p-panelMenu [model]="items" [style]="{'width':'100%'}"></p-panelMenu>
                </p-card>
            </div>
            <div class="col-8">
                <div class="flex justify-content-end" routerLink="/activities/new">
                    <div class=" flex align-items-center mb-4 mt-5 cursor-pointer hover:text-black-alpha-60">
                        <h2 class=" mr-3">
                            Create Activity
                        </h2>
                        <div
                            class="border-circle main-color icon-box flex align-items-center justify-content-center hover:bg-purple-500">
                            <i class="fa-solid fa-plus icon text-xl"></i>
                        </div>
                    </div>
                </div>
                <div>
                    <ng-container *ngIf="type == 'all'">
                        <p-card infinite-scroll (scrolled)="onScroll()">
                            <div class="grid">
                                <div *ngFor="let p of activities; index as i" class="col-12 lg:col-4 md:col-6 mt-2">
                                    <p-card styleClass="activity-card">
                                        <ng-template pTemplate="header">
                                            <img *ngIf="activities[i].file.files && activities[i].file.files != ''"
                                                src="{{urlFile}}{{ activities[i].file.id}}" class="h-8rem">
                                            <img *ngIf="(!activities[i].file.files && activities[i].activityType.activityTypeName == 'Course') || (activities[i].file.files =='' && activities[i].activityType.activityTypeName == 'Course') "
                                                src="../../../../assets/images/course.jpg" alt="activity image"
                                                class="h-8rem">
                                            <img *ngIf="(!activities[i].file.files && activities[i].activityType.activityTypeName == 'Event') || (activities[i].file.files =='' && activities[i].activityType.activityTypeName == 'Event') "
                                                src="../../../../assets/images/event.jpg" alt="activity image"
                                                class="h-8rem">
                                        </ng-template>

                                        <div class="flex justify-content-between align-items-center mb-3 text-black-alpha-60 text-xs">
                                            <p class="uppercase">{{ activities[i].activityCode }}</p>
                                            <div *ngIf="activities[i].activityType.activityTypeName == 'Event'" class="bg-blue-400 border-round-lg py-1 px-2 text-white">
                                              <p class="uppercase ">{{ activities[i].activityType.activityTypeName }}</p>
                                            </div>
                                            <div *ngIf="activities[i].activityType.activityTypeName == 'Course'" class="main-color border-round-lg py-1 px-2 text-white">
                                              <p class="uppercase">{{ activities[i].activityType.activityTypeName }}</p>
                                            </div>
                                        </div>
                                        <h4 class="flex align-items-center h-2rem capitalize">{{ activities[i].title }}</h4>
                                        <div class="text-xs text-black-alpha-60 mt-3">
                                            <div class="flex mt-2">
                                                <i class="fa-regular fa-calendar-days mr-2"></i>
                                                <p>{{ activities[i].beginSchedule | date:'fullDate' }} to {{
                                                    activities[i].finishSchedule | date:'fullDate' }}</p>
                                            </div>
                                            <div class="flex mt-2">
                                                <i class="fa-regular fa-clock mr-2"></i>
                                                <p>{{ activities[i].beginSchedule | date:'shortTime' }} - {{
                                                    activities[i].finishSchedule | date:'shortTime' }}</p>
                                            </div>
                                            <div class="flex mt-2">
                                                <i class="fa-solid fa-school mr-2"></i>
                                                <p>{{ activities[i].provider }}</p>
                                            </div>
                                            <div class="flex mt-2">
                                                <i class="fa-solid fa-location-dot mr-2"></i>
                                                <p>{{ activities[i].location }}</p>
                                            </div>
                                            <div class="flex mt-2">
                                                <i class="fa-solid fa-coins mr-2"></i>
                                                <p>{{ activities[i].price | currency:"IDR ":"symbol"}}</p>
                                            </div>
                                            <div class="text-right mt-3">
                                                <p (click)="showPopUpDialog(activities[i].id, activities[i].price, activities[i].title)"
                                                    class=" main-text underline cursor-pointer">
                                                    Join
                                                    Event</p>
                                            </div>
                                        </div>
                                    </p-card>
                                </div>
                            </div>
                        </p-card>
                    </ng-container>
                    <ng-container *ngIf="type == 'courses'">
                        <p-card infinite-scroll (scrolled)="onScrollActivityByCourse()">
                            <div class="grid">
                                <div *ngFor="let ac of activitiesCourse; index as i"
                                    class="col-12 lg:col-4 md:col-6 mt-2">
                                    <p-card styleClass="activity-card">
                                        <ng-template pTemplate="header">
                                            <img *ngIf="activitiesCourse[i].file.files && activitiesCourse[i].file.files != ''"
                                                src="{{urlFile}}{{ activitiesCourse[i].file.id}}" class="h-8rem">
                                            <img *ngIf="(!activitiesCourse[i].file.files && activitiesCourse[i].activityType.activityTypeName == 'Course') || (activitiesCourse[i].file.files =='' && activitiesCourse[i].activityType.activityTypeName == 'Course') "
                                                src="../../../../assets/images/course.jpg" alt="activity image"
                                                class="h-8rem">
                                            <img *ngIf="(!activitiesCourse[i].file.files && activitiesCourse[i].activityType.activityTypeName == 'Event') || (activitiesCourse[i].file.files =='' && activitiesCourse[i].activityType.activityTypeName == 'Event') "
                                                src="../../../../assets/images/event.jpg" alt="activity image"
                                                class="h-8rem">
                                        </ng-template>
                                        <div class="flex justify-content-between mb-3 text-black-alpha-60 text-xs">
                                            <p class="uppercase">{{ activitiesCourse[i].activityCode }}</p>
                                            <div *ngIf="activitiesCourse[i].activityType.activityTypeName == 'Event'" class="bg-blue-400 border-round-lg py-1 px-2 text-white">
                                              <p class="uppercase ">{{ activitiesCourse[i].activityType.activityTypeName }}</p>
                                            </div>
                                            <div *ngIf="activitiesCourse[i].activityType.activityTypeName == 'Course'" class="main-color border-round-lg py-1 px-2 text-white">
                                              <p class="uppercase">{{ activitiesCourse[i].activityType.activityTypeName }}</p>
                                            </div>
                                        </div>
                                        <h4 class="flex align-items-center h-2rem capitalize">{{ activitiesCourse[i].title }}</h4>
                                        <div class="text-xs text-black-alpha-60 mt-3">
                                            <div class="flex mt-2">
                                                <i class="fa-regular fa-calendar-days mr-2"></i>
                                                <p>{{ activitiesCourse[i].beginSchedule | date:'fullDate' }} to {{
                                                    activitiesCourse[i].finishSchedule | date:'fullDate' }}</p>
                                            </div>
                                            <div class="flex mt-2">
                                                <i class="fa-regular fa-clock mr-2"></i>
                                                <p>{{ activitiesCourse[i].beginSchedule | date:'shortTime' }} - {{
                                                    activitiesCourse[i].finishSchedule | date:'shortTime' }}</p>
                                            </div>
                                            <div class="flex mt-2">
                                                <i class="fa-solid fa-school mr-2"></i>
                                                <p>{{ activitiesCourse[i].provider }}</p>
                                            </div>
                                            <div class="flex mt-2">
                                                <i class="fa-solid fa-location-dot mr-2"></i>
                                                <p>{{ activitiesCourse[i].location }}</p>
                                            </div>
                                            <div class="flex mt-2">
                                                <i class="fa-solid fa-coins mr-2"></i>
                                                <p>Rp. {{ activitiesCourse[i].price | currency:"IDR ":"symbol" }},-</p>
                                            </div>
                                            <div class="text-right mt-3">
                                                <p (click)="showPopUpDialog(activitiesCourse[i].id, activitiesCourse[i].price, activitiesCourse[i].title)"
                                                    class=" main-text underline cursor-pointer">
                                                    Join
                                                    Event</p>
                                            </div>
                                        </div>
                                    </p-card>
                                </div>
                            </div>
                        </p-card>
                    </ng-container>

                    <ng-container *ngIf="type == 'events'">
                        <p-card infinite-scroll (scrolled)="onScrollActivityByEvent()">
                            <div class="grid">
                                <div *ngFor="let ac of activitiesEvent; index as i"
                                    class="col-12 lg:col-4 md:col-6 mt-2">
                                    <p-card styleClass="activity-card">
                                        <ng-template pTemplate="header">
                                            <img *ngIf="activitiesEvent[i].file.files && activitiesEvent[i].file.files != ''"
                                                src="{{urlFile}}{{ activitiesEvent[i].file.id}}" class="h-8rem">
                                            <img *ngIf="(!activitiesEvent[i].file.files && activitiesEvent[i].activityType.activityTypeName == 'Course') || (activitiesEvent[i].file.files =='' && activitiesEvent[i].activityType.activityTypeName == 'Course') "
                                                src="../../../../assets/images/course.jpg" alt="activity image"
                                                class="h-8rem">
                                            <img *ngIf="(!activitiesEvent[i].file.files && activitiesEvent[i].activityType.activityTypeName == 'Event') || (activitiesEvent[i].file.files =='' && activitiesEvent[i].activityType.activityTypeName == 'Event') "
                                                src="../../../../assets/images/event.jpg" alt="activity image"
                                                class="h-8rem">
                                        </ng-template>
                                        <div class="flex justify-content-between mb-3 text-black-alpha-60 text-xs">
                                            <p class="uppercase">{{ activitiesEvent[i].activityCode }}</p>
                                            <div *ngIf="activitiesEvent[i].activityType.activityTypeName == 'Event'" class="bg-blue-400 border-round-lg py-1 px-2 text-white">
                                              <p class="uppercase ">{{ activitiesEvent[i].activityType.activityTypeName }}</p>
                                            </div>
                                            <div *ngIf="activitiesEvent[i].activityType.activityTypeName == 'Course'" class="main-color border-round-lg py-1 px-2 text-white">
                                              <p class="uppercase">{{ activitiesEvent[i].activityType.activityTypeName }}</p>
                                            </div>
                                        </div>
                                        <h4 class="flex align-items-center h-2rem">{{ activitiesEvent[i].title }}</h4>
                                        <div class="text-xs text-black-alpha-60 mt-3">
                                            <div class="flex mt-2">
                                                <i class="fa-regular fa-calendar-days mr-2"></i>
                                                <p>{{ activitiesEvent[i].beginSchedule | date:'fullDate' }} to {{
                                                    activitiesEvent[i].finishSchedule | date:'fullDate' }}</p>
                                            </div>
                                            <div class="flex mt-2">
                                                <i class="fa-regular fa-clock mr-2"></i>
                                                <p>{{ activitiesEvent[i].beginSchedule | date:'shortTime' }} - {{
                                                    activitiesEvent[i].finishSchedule | date:'shortTime' }}</p>
                                            </div>
                                            <div class="flex mt-2">
                                                <i class="fa-solid fa-school mr-2"></i>
                                                <p>{{ activitiesEvent[i].provider }}</p>
                                            </div>
                                            <div class="flex mt-2">
                                                <i class="fa-solid fa-location-dot mr-2"></i>
                                                <p>{{ activitiesEvent[i].location }}</p>
                                            </div>
                                            <div class="flex mt-2">
                                                <i class="fa-solid fa-coins mr-2"></i>
                                                <p>Rp. {{ activitiesEvent[i].price | currency:"IDR ":"symbol" }},-</p>
                                            </div>
                                            <div class="text-right mt-3">
                                                <p (click)="showPopUpDialog(activitiesEvent[i].id, activitiesEvent[i].price, activitiesEvent[i].title)"
                                                    class=" main-text underline cursor-pointer">
                                                    Join
                                                    Event</p>
                                            </div>
                                        </div>
                                    </p-card>
                                </div>
                            </div>
                        </p-card>
                    </ng-container>

                    <ng-container *ngIf="type == 'my-activities'">
                        <p-card infinite-scroll (scrolled)="onScrollMyActivity()">
                            <div class="grid">
                                <div *ngFor="let ma of myActivities; index as i" class="col-12 lg:col-4 md:col-6 mt-2">
                                    <p-card styleClass="activity-card">
                                        <ng-template pTemplate="header">
                                            <img *ngIf="myActivities[i].file.files && myActivities[i].file.files != ''"
                                                src="{{urlFile}}{{ myActivities[i].file.id}}" class="h-8rem">
                                            <img *ngIf="(!myActivities[i].file.files && myActivities[i].activityType.activityTypeName == 'Course') || (myActivities[i].file.files =='' && myActivities[i].activityType.activityTypeName == 'Course') "
                                                src="../../../../assets/images/course.jpg" alt="activity image"
                                                class="h-8rem">
                                            <img *ngIf="(!myActivities[i].file.files && myActivities[i].activityType.activityTypeName == 'Event') || (myActivities[i].file.files =='' && myActivities[i].activityType.activityTypeName == 'Event') "
                                                src="../../../../assets/images/event.jpg" alt="activity image"
                                                class="h-8rem">
                                        </ng-template>
                                        <div class="flex justify-content-between mb-3 text-black-alpha-60 text-xs">
                                            <p class="uppercase">{{ myActivities[i].activityCode }}</p>
                                            <div *ngIf="myActivities[i].activityType.activityTypeName == 'Event'" class="bg-blue-400 border-round-lg py-1 px-2 text-white">
                                              <p class="uppercase ">{{ myActivities[i].activityType.activityTypeName }}</p>
                                            </div>
                                            <div *ngIf="myActivities[i].activityType.activityTypeName == 'Course'" class="main-color border-round-lg py-1 px-2 text-white">
                                              <p class="uppercase">{{ myActivities[i].activityType.activityTypeName }}</p>
                                            </div>
                                        </div>
                                        <h4 class="flex align-items-center h-2rem">{{ myActivities[i].title }}</h4>
                                        <div class="text-xs text-black-alpha-60 mt-3">
                                            <div class="flex mt-2">
                                                <i class="fa-regular fa-calendar-days mr-2"></i>
                                                <p>{{ myActivities[i].beginSchedule | date:'fullDate' }} to {{
                                                    myActivities[i].finishSchedule | date:'fullDate' }}</p>
                                            </div>
                                            <div class="flex mt-2">
                                                <i class="fa-regular fa-clock mr-2"></i>
                                                <p>{{ myActivities[i].beginSchedule | date:'shortTime' }} - {{
                                                    myActivities[i].finishSchedule | date:'shortTime' }}</p>
                                            </div>
                                            <div class="flex mt-2">
                                                <i class="fa-solid fa-school mr-2"></i>
                                                <p>{{ myActivities[i].provider }}</p>
                                            </div>
                                            <div class="flex mt-2">
                                                <i class="fa-solid fa-location-dot mr-2"></i>
                                                <p>{{ myActivities[i].location }}</p>
                                            </div>
                                            <div class="flex mt-2">
                                                <i class="fa-solid fa-coins mr-2"></i>
                                                <p>Rp. {{ myActivities[i].price | currency:"IDR ":"symbol" }},-</p>
                                            </div>
                                            <div class="text-right mt-3">
                                                <p (click)="showPopUpDialog(myActivities[i].id, myActivities[i].price, myActivities[i].title)"
                                                    class=" main-text underline cursor-pointer">
                                                    Join
                                                    Event</p>
                                            </div>
                                        </div>
                                    </p-card>
                                </div>
                            </div>
                        </p-card>
                    </ng-container>
                    <ng-container *ngIf="type == 'my-courses'">
                        <p-card infinite-scroll (scrolled)="onScrollMyActivityCourse()">
                            <div class="grid">
                                <div *ngFor="let mabc of myActivitiesByCourse; index as i"
                                    class="col-12 lg:col-4 md:col-6 mt-2">
                                    <p-card styleClass="activity-card">
                                        <ng-template pTemplate="header">
                                            <img *ngIf="myActivitiesByCourse[i].file.files && myActivitiesByCourse[i].file.files != ''"
                                                src="{{urlFile}}{{ myActivitiesByCourse[i].file.id}}" class="h-8rem">
                                            <img *ngIf="(!myActivitiesByCourse[i].file.files && myActivitiesByCourse[i].activityType.activityTypeName == 'Course') || (myActivitiesByCourse[i].file.files =='' && myActivitiesByCourse[i].activityType.activityTypeName == 'Course') "
                                                src="../../../../assets/images/course.jpg" alt="activity image"
                                                class="h-8rem">
                                            <img *ngIf="(!myActivitiesByCourse[i].file.files && myActivitiesByCourse[i].activityType.activityTypeName == 'Event') || (myActivitiesByCourse[i].file.files =='' && myActivitiesByCourse[i].activityType.activityTypeName == 'Event') "
                                                src="../../../../assets/images/event.jpg" alt="activity image"
                                                class="h-8rem">
                                        </ng-template>
                                        <div class="flex justify-content-between mb-3 text-black-alpha-60 text-xs">
                                            <p class="uppercase">{{ myActivitiesByCourse[i].activityCode }}</p>
                                            <div *ngIf="myActivitiesByCourse[i].activityType.activityTypeName == 'Event'" class="bg-blue-400 border-round-lg py-1 px-2 text-white">
                                              <p class="uppercase ">{{ myActivitiesByCourse[i].activityType.activityTypeName }}</p>
                                            </div>
                                            <div *ngIf="myActivitiesByCourse[i].activityType.activityTypeName == 'Course'" class="main-color border-round-lg py-1 px-2 text-white">
                                              <p class="uppercase">{{ myActivitiesByCourse[i].activityType.activityTypeName }}</p>
                                            </div>
                                        </div>
                                        <h4 class="flex align-items-center h-2rem">{{ myActivitiesByCourse[i].title }}</h4>
                                        <div class="text-xs text-black-alpha-60 mt-3">
                                            <div class="flex mt-2">
                                                <i class="fa-regular fa-calendar-days mr-2"></i>
                                                <p>{{ myActivitiesByCourse[i].beginSchedule | date:'fullDate' }} to {{
                                                    myActivitiesByCourse[i].finishSchedule | date:'fullDate' }}</p>
                                            </div>
                                            <div class="flex mt-2">
                                                <i class="fa-regular fa-clock mr-2"></i>
                                                <p>{{ myActivitiesByCourse[i].beginSchedule | date:'shortTime' }} - {{
                                                    myActivitiesByCourse[i].finishSchedule | date:'shortTime' }}</p>
                                            </div>
                                            <div class="flex mt-2">
                                                <i class="fa-solid fa-school mr-2"></i>
                                                <p>{{ myActivitiesByCourse[i].provider }}</p>
                                            </div>
                                            <div class="flex mt-2">
                                                <i class="fa-solid fa-location-dot mr-2"></i>
                                                <p>{{ myActivitiesByCourse[i].location }}</p>
                                            </div>
                                            <div class="flex mt-2">
                                                <i class="fa-solid fa-coins mr-2"></i>
                                                <p>Rp. {{ myActivitiesByCourse[i].price | currency:"IDR ":"symbol" }},-
                                                </p>
                                            </div>
                                            <div class="text-right mt-3">
                                                <p (click)="showPopUpDialog(myActivitiesByCourse[i].id, myActivitiesByCourse[i].price, myActivitiesByCourse[i].title)"
                                                    class=" main-text underline cursor-pointer">
                                                    Join
                                                    Event</p>
                                            </div>
                                        </div>
                                    </p-card>
                                </div>
                            </div>
                        </p-card>
                    </ng-container>

                    <ng-container *ngIf="type == 'my-events'">
                        <p-card infinite-scroll (scrolled)="onScrollMyActivityEvent()">
                            <div class="grid">
                                <div *ngFor="let mave of myActivitiesByEvent; index as i"
                                    class="col-12 lg:col-4 md:col-6 mt-2">
                                    <p-card styleClass="activity-card">
                                        <ng-template pTemplate="header">
                                            <img *ngIf="myActivitiesByEvent[i].file.files && myActivitiesByEvent[i].file.files != ''"
                                                src="{{urlFile}}{{ myActivitiesByEvent[i].file.id}}" class="h-8rem">
                                            <img *ngIf="(!myActivitiesByEvent[i].file.files && myActivitiesByEvent[i].activityType.activityTypeName == 'Course') || (myActivitiesByEvent[i].file.files =='' && myActivitiesByEvent[i].activityType.activityTypeName == 'Course') "
                                                src="../../../../assets/images/course.jpg" alt="activity image"
                                                class="h-8rem">
                                            <img *ngIf="(!myActivitiesByEvent[i].file.files && myActivitiesByEvent[i].activityType.activityTypeName == 'Event') || (myActivitiesByEvent[i].file.files =='' && myActivitiesByEvent[i].activityType.activityTypeName == 'Event') "
                                                src="../../../../assets/images/event.jpg" alt="activity image"
                                                class="h-8rem">
                                        </ng-template>
                                        <div class="flex justify-content-between mb-3 text-black-alpha-60 text-xs">
                                            <p class="uppercase">{{ myActivitiesByEvent[i].activityCode }}</p>
                                            <div *ngIf="myActivitiesByEvent[i].activityType.activityTypeName == 'Event'" class="bg-blue-400 border-round-lg py-1 px-2 text-white">
                                              <p class="uppercase ">{{ myActivitiesByEvent[i].activityType.activityTypeName }}</p>
                                            </div>
                                            <div *ngIf="myActivitiesByEvent[i].activityType.activityTypeName == 'Course'" class="main-color border-round-lg py-1 px-2 text-white">
                                              <p class="uppercase">{{ myActivitiesByEvent[i].activityType.activityTypeName }}</p>
                                            </div>
                                        </div>
                                        <h4 class="flex align-items-center h-2rem">{{ myActivitiesByEvent[i].title }}</h4>
                                        <div class="text-xs text-black-alpha-60 mt-3">
                                            <div class="flex mt-2">
                                                <i class="fa-regular fa-calendar-days mr-2"></i>
                                                <p>{{ myActivitiesByEvent[i].beginSchedule | date:'fullDate' }} to {{
                                                    myActivitiesByEvent[i].finishSchedule | date:'fullDate' }}</p>
                                            </div>
                                            <div class="flex mt-2">
                                                <i class="fa-regular fa-clock mr-2"></i>
                                                <p>{{ myActivitiesByEvent[i].beginSchedule | date:'shortTime' }} - {{
                                                    myActivitiesByEvent[i].finishSchedule | date:'shortTime' }}</p>
                                            </div>
                                            <div class="flex mt-2">
                                                <i class="fa-solid fa-school mr-2"></i>
                                                <p>{{ myActivitiesByEvent[i].provider }}</p>
                                            </div>
                                            <div class="flex mt-2">
                                                <i class="fa-solid fa-location-dot mr-2"></i>
                                                <p>{{ myActivitiesByEvent[i].location }}</p>
                                            </div>
                                            <div class="flex mt-2">
                                                <i class="fa-solid fa-coins mr-2"></i>
                                                <p>Rp. {{ myActivitiesByEvent[i].price | currency:"IDR ":"symbol" }},-
                                                </p>
                                            </div>
                                            <div class="text-right mt-3">
                                                <p (click)="showPopUpDialog(myActivitiesByEvent[i].id, myActivitiesByEvent[i].price, myActivitiesByEvent[i].title)"
                                                    class=" main-text underline cursor-pointer">
                                                    Join
                                                    Event</p>
                                            </div>
                                        </div>
                                    </p-card>
                                </div>
                            </div>
                        </p-card>
                    </ng-container>

                </div>
            </div>
        </div>
    </div>
</div>

<p-dialog [(visible)]="display">
    <div class="grid bg-white border-round-xl max-w-27rem mb-5">
        <div class="col-12 md:px-3 px-1">
            <div class=" flex align-items-center justify-content-center mb-5">
                <div class="border-circle bg-blue-300 icon-box flex align-items-center justify-content-center">
                    <i class="fa-solid fa-chart-line icon"></i>
                </div>
                <h2 class=" ml-3 capitalize">
                    Let's Join {{activityTitle}}
                </h2>
            </div>
            <form class="card" [formGroup]="paymentActivityForm">
                <p class="text-justify mb-2">Please make a payment to account number <b class="main-text">1234567890</b>
                    in
                    the amount of <b class="main-text">
                        {{activityPrice | currency:"IDR ":"symbol"}}</b>. And send proof of payment here</p>
                <div class="field col-12">
                    <p-fileUpload id="file" name="file" [customUpload]="true" (uploadHandler)="fileUpload($event)">
                    </p-fileUpload>
                </div>
                <button pButton [disabled]="paymentActivityForm.invalid" type="submit" (click)="submitInsert()"
                    class="main-color w-full mt-3" label="SUBMIT"></button>
            </form>
        </div>
    </div>
</p-dialog>
