<div class="w-full body-color">
    <div class=" flex justify-content-center flex-wrap">
        <div class="grid w-full md:w-10 container">
            <div class="col-4">
                <div class=" flex align-items-center mb-4 mt-5">
                    <div class="border-circle bg-indigo-500 icon-box flex align-items-center justify-content-center">
                        <i class="fa-regular fa-file icon text-2xl"></i>
                    </div>
                    <h2 class=" ml-3">
                        Pages
                    </h2>
                </div>
                <p-card>
                    <p-panelMenu [model]="items" [style]="{'width':'100%'}"></p-panelMenu>
                </p-card>

            </div>
            <div class="col-8">
                <div class="flex justify-content-end" routerLink="/activities/new">
                    <div class=" flex align-items-center mb-4 mt-5 cursor-pointer hover:text-black-alpha-60">
                        <h2 class=" mr-3">
                            Create Activity
                        </h2>
                        <div
                            class="border-circle main-color icon-box flex align-items-center justify-content-center hover:bg-purple-500">
                            <i class="fa-solid fa-plus icon text-xl"></i>
                        </div>
                    </div>
                </div>
                <div>
                    <p-card infinite-scroll (scrolled)="onScroll()">
                        <div class="grid">
                            <div *ngFor="let p of activities; index as i" class="col-12 lg:col-4 md:col-6 mt-2">
                                <p-card styleClass="activity-card">
                                    <ng-template pTemplate="header">
                                        <img src="{{urlFile}}{{ activities[i].file.id}}" alt="activity img"
                                            class="h-8rem">
                                    </ng-template>
                                    <div class="flex justify-content-between mb-3 text-black-alpha-60 text-xs">
                                        <p class="uppercase">{{ activities[i].activityCode }}</p>
                                        <p class="uppercase">{{ activities[i].activityType.activityTypeName }}</p>
                                    </div>
                                    <h3>{{ activities[i].title }}</h3>
                                    <div class="text-xs text-black-alpha-60 mt-3">
                                        <div class="flex mt-2">
                                            <i class="fa-regular fa-calendar-days mr-2"></i>
                                            <p>{{ activities[i].beginSchedule | date:'fullDate' }} to {{
                                                activities[i].finishSchedule | date:'fullDate' }}</p>
                                        </div>
                                        <div class="flex mt-2">
                                            <i class="fa-regular fa-clock mr-2"></i>
                                            <p>{{ activities[i].beginSchedule | date:'shortTime' }} - {{
                                                activities[i].finishSchedule | date:'shortTime' }}</p>
                                        </div>
                                        <div class="flex mt-2">
                                            <i class="fa-solid fa-school mr-2"></i>
                                            <p>{{ activities[i].provider }}</p>
                                        </div>
                                        <div class="flex mt-2">
                                            <i class="fa-solid fa-location-dot mr-2"></i>
                                            <p>{{ activities[i].location }}</p>
                                        </div>
                                        <div class="flex mt-2">
                                            <i class="fa-solid fa-coins mr-2"></i>
                                            <p>Rp. {{ activities[i].price }},-</p>
                                        </div>
                                        <div class="text-right mt-3">
                                            <p (click)="showPopUpDialog(activities[i].id, activities[i].price, activities[i].title)"
                                                class=" main-text underline cursor-pointer">
                                                Join
                                                Event</p>
                                        </div>
                                    </div>

                                </p-card>
                            </div>
                        </div>
                    </p-card>
                </div>
            </div>
        </div>
    </div>
</div>

<p-dialog [(visible)]="display">
    <div class="grid bg-white border-round-xl max-w-27rem mb-5">
        <ng-template pTemplate="header">
            <h3>Header Content</h3>
        </ng-template>
        <div class="col-12 md:px-3 px-1">
            <div class=" flex align-items-center justify-content-center mb-5">
                <div class="border-circle bg-blue-300 icon-box flex align-items-center justify-content-center">
                    <i class="fa-solid fa-chart-line icon"></i>
                </div>
                <h2 class=" ml-3 capitalize">
                    Let's Join {{activityTitle}}
                </h2>
            </div>
            <form class="card" [formGroup]="paymentActivityForm">
                <p class="text-justify mb-2">Please make a payment to account number <b class="main-text">1234567890</b>
                    in
                    the amount of <b class="main-text">IDR
                        {{activityPrice}},-</b> . And send proof of payment here</p>
                <div class="field col-12">
                    <p-fileUpload id="file" name="file" [customUpload]="true" (uploadHandler)="fileUpload($event)">
                    </p-fileUpload>
                </div>
                <button pButton [disabled]="paymentActivityForm.invalid" type="submit" (click)="submitInsert()"
                    class="main-color w-full mt-3" label="SUBMIT"></button>
            </form>
        </div>
    </div>
</p-dialog>