<div class="w-full body-color">
    <div class=" flex justify-content-center flex-wrap">
        <div class="grid w-full md:w-10 container">
            <div class="col-4">
                <div class=" flex align-items-center mb-4 mt-5">
                    <div class="border-circle bg-blue-600 icon-box flex align-items-center justify-content-center">
                        <i class="fa-regular fa-file-lines icon text-2xl"></i>
                    </div>
                    <h2 class=" ml-3">
                        Recent Articles
                    </h2>
                </div>
                <p-card>
                    <div class="my-5">
                        <img src="../../../assets/images/article.png" alt="article image" class="img-fluid">
                        <div class="flex justify-content-between mt-3">
                            <h3>
                                Article Name
                            </h3>
                            <p class="text-black-alpha-60">
                                12/12/2022
                            </p>
                        </div>
                        <div class="mt-3 text-justify text-black-alpha-60">
                            <p class="surface-overlay white-space-nowrap overflow-hidden text-overflow-ellipsis w-full">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo qui deleniti facere,
                                assumenda
                                vitae quasi. Architecto, aliquam autem! Illum, maxime!
                            </p>
                        </div>
                        <div class="text-right mt-3">
                            <a routerLink="" class="text-primary">show details</a>
                        </div>
                    </div>

                    <div class="my-5">
                        <img src="../../../assets/images/article.png" alt="article image" class="img-fluid">
                        <div class="flex justify-content-between mt-3">
                            <h3>
                                Article Name
                            </h3>
                            <p class="text-black-alpha-60">
                                12/12/2022
                            </p>
                        </div>
                        <div class="mt-3 text-justify text-black-alpha-60">
                            <p class="surface-overlay white-space-nowrap overflow-hidden text-overflow-ellipsis w-full">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo qui deleniti facere,
                                assumenda
                                vitae quasi. Architecto, aliquam autem! Illum, maxime!
                            </p>
                        </div>
                        <div class="text-right mt-3">
                            <a routerLink="" class="text-primary">show details</a>
                        </div>
                    </div>
                </p-card>

                <div class=" flex align-items-center mb-4 mt-5">
                    <div class="border-circle main-color icon-box flex align-items-center justify-content-center">
                        <i class="fa-solid fa-calendar-week icon text-2xl"></i>
                    </div>
                    <h2 class=" ml-3">
                        Recent Events
                    </h2>
                </div>
                <p-card>
                    <div class="flex my-3">
                        <img src="../../../assets/images/article.png" alt="event image" class="w-7rem h-4rem">
                        <div class="ml-3">
                            <h3>Event Name</h3>
                            <p class="text-black-alpha-60">12/12/2022</p>
                            <a routerLink="" class="text-primary">show details</a>
                        </div>
                    </div>

                    <div class="flex my-3">
                        <img src="../../../assets/images/article.png" alt="event image" class="w-7rem h-4rem">
                        <div class="ml-3">
                            <h3>Event Name</h3>
                            <p class="text-black-alpha-60">12/12/2022</p>
                            <a routerLink="" class="text-primary">show details</a>
                        </div>
                    </div>
                </p-card>

                <div class=" flex align-items-center mb-4 mt-5">
                    <div class="border-circle bg-green-400 icon-box flex align-items-center justify-content-center">
                        <i class="fa-solid fa-award icon text-2xl"></i>
                    </div>
                    <h2 class=" ml-3">
                        Recent Courses
                    </h2>
                </div>
                <p-card>
                    <div class="flex my-3">
                        <img src="../../../assets/images/article.png" alt="course image" class="w-7rem h-4rem">
                        <div class="ml-3">
                            <h3>Course Name</h3>
                            <p class="text-black-alpha-60">12/12/2022</p>
                            <a routerLink="" class="text-primary">show details</a>
                        </div>
                    </div>

                    <div class="flex my-3">
                        <img src="../../../assets/images/article.png" alt="course image" class="w-7rem h-4rem">
                        <div class="ml-3">
                            <h3>Course Name</h3>
                            <p class="text-black-alpha-60">12/12/2022</p>
                            <a routerLink="" class="text-primary">show details</a>
                        </div>
                    </div>
                </p-card>
            </div>
            <div class="col-8">
                <div class="flex justify-content-end">
                    <div class=" flex align-items-center mb-4 mt-5 cursor-pointer">
                        <h2 class=" mr-3">
                            Create Activity
                        </h2>
                        <div class="border-circle main-color icon-box flex align-items-center justify-content-center">
                            <i class="fa-solid fa-plus icon text-xl"></i>
                        </div>
                    </div>
                </div>
                <div>
                    <p-card>
                        <p-tabMenu [model]="items" [activeItem]="items[0]"></p-tabMenu>

                        <div class="grid mt-3">
                            <div class="col-12 lg:col-4 md:col-6 mt-2">
                                <p-card styleClass="activity-card">
                                    <ng-template pTemplate="header">
                                        <img src="../../../assets/images/article.png" alt="activity img" class="h-8rem">
                                    </ng-template>
                                    <div class="flex justify-content-between mb-3 text-black-alpha-60 text-xs">
                                        <p>CODE</p>
                                        <p>COURSE</p>
                                    </div>
                                    <h3>Event Name</h3>
                                    <div class="text-xs text-black-alpha-60 mt-3">
                                        <div class="flex mt-2">
                                            <i class="fa-regular fa-calendar-days mr-2"></i>
                                            <p>Wednesday, Nov 16, 2022 until Friday, Nov, 18 2022</p>
                                        </div>
                                        <div class="flex mt-2">
                                            <i class="fa-regular fa-clock mr-2"></i>
                                            <p>08.00 -09.40</p>
                                        </div>
                                        <div class="flex mt-2">
                                            <i class="fa-solid fa-location-dot mr-2"></i>
                                            <p>Bootcamp Room</p>
                                        </div>
                                        <div class="flex mt-2">
                                            <i class="fa-solid fa-coins mr-2"></i>
                                            <p>Rp. 40.000,-</p>
                                        </div>
                                        <div class="text-right mt-3">
                                            <a routerLink="" class=" main-text">Join Event</a>
                                        </div>
                                    </div>

                                </p-card>
                            </div>

                        </div>
                    </p-card>
                </div>
            </div>
        </div>
    </div>
</div>