<div class="w-full body-color">
    <div class=" flex justify-content-center flex-wrap">
        <div class="grid w-full md:w-10 container">
            <div class="col-4">
                <div class=" flex align-items-center mb-4 mt-5">
                    <div class="border-circle bg-blue-600 icon-box flex align-items-center justify-content-center">
                        <i class="fa-regular fa-file-lines icon text-2xl"></i>
                    </div>
                    <h2 class=" ml-3">
                        Recent Articles
                    </h2>
                </div>
                <p-card>
                    <div class="my-5">
                        <img src="../../../assets/images/article.png" alt="article image" class="img-fluid">
                        <div class="flex justify-content-between mt-3">
                            <h3>
                                Article Name
                            </h3>
                            <p class="text-black-alpha-60">
                                12/12/2022
                            </p>
                        </div>
                        <div class="mt-3 text-justify text-black-alpha-60">
                            <p class="surface-overlay white-space-nowrap overflow-hidden text-overflow-ellipsis w-full">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo qui deleniti facere,
                                assumenda
                                vitae quasi. Architecto, aliquam autem! Illum, maxime!
                            </p>
                        </div>
                        <div class="text-right mt-3">
                            <a routerLink="" class="text-primary">show details</a>
                        </div>
                    </div>

                    <div class="my-5">
                        <img src="../../../assets/images/article.png" alt="article image" class="img-fluid">
                        <div class="flex justify-content-between mt-3">
                            <h3>
                                Article Name
                            </h3>
                            <p class="text-black-alpha-60">
                                12/12/2022
                            </p>
                        </div>
                        <div class="mt-3 text-justify text-black-alpha-60">
                            <p class="surface-overlay white-space-nowrap overflow-hidden text-overflow-ellipsis w-full">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo qui deleniti facere,
                                assumenda
                                vitae quasi. Architecto, aliquam autem! Illum, maxime!
                            </p>
                        </div>
                        <div class="text-right mt-3">
                            <a routerLink="" class="text-primary">show details</a>
                        </div>
                    </div>
                </p-card>
            </div>
            <div class="col-8 mt-3">
                <p-card>
                    <div class="flex mx-5" (click)="postDialog('regular')">
                        <div class="max-w-max">
                            <img src="../../../assets/images/article.png" alt="" class="w-3rem h-3rem border-circle">
                        </div>
                        <div
                            class="w-full bg-black-alpha-10 ml-5 border-round-3xl flex align-items-center px-4 cursor-pointer hover:text-black-alpha-60 hover:bg-gray-300 transition-all transition-duration-200">
                            <p class="text-black-alpha-50">What do you think?</p>
                        </div>
                    </div>
                    <div class="flex mx-3">
                        <div class=" flex align-items-center mt-3 mr-3 cursor-pointer hover:text-black-alpha-60 hover:bg-gray-100 transition-all transition-duration-200 px-3 py-2"
                            routerLink="/homes/new">
                            <div
                                class="border-circle bg-purple-500 icon-box flex align-items-center justify-content-center">
                                <i class="fa-solid fa-check-to-slot icon text-2xl"></i>
                            </div>
                            <h3 class=" ml-3">
                                Poll Post
                            </h3>
                        </div>
                        <div class=" flex align-items-center mt-3 cursor-pointer hover:text-black-alpha-60 hover:bg-gray-100 transition-all transition-duration-200 px-3 py-2"
                            (click)="postDialog('premium')">
                            <div
                                class="border-circle bg-orange-400 icon-box flex align-items-center justify-content-center">
                                <i class="fa-regular fa-gem icon text-2xl"></i>
                            </div>
                            <h3 class=" ml-3">
                                Premium Post
                            </h3>
                        </div>
                    </div>
                </p-card>
                <div class="pt-3">


                    <ng-container *ngIf="type == 'threads'">
                        <p-card infinite-scroll (scrolled)="onScroll()">
                            <p-tabMenu [model]="items" [activeItem]="items[0]"></p-tabMenu>

                            <ng-container *ngFor="let p of post; index as i">
                                <div class="md:mx-5">
                                    <div class="flex  align-items-center mb-3 mt-7">
                                        <div class="max-w-max mr-3">
                                            <img src="{{urlFile}}{{ post[i].userPhotoId }}" alt="profile image"
                                                class="w-3rem h-3rem border-circle">
                                        </div>
                                        <div class="w-full">
                                            <h3>{{ post[i].userName }}</h3>
                                            <p class="text-black-alpha-60 text-xs mt-1">{{ post[i].createdAt |
                                                date:"shortTime" }} |
                                                {{ post[i].createdAt | date:"fullDate" }} </p>
                                        </div>
                                        <div class="min-w-max mr-3 bg-purple-100 border-round-xl">
                                            <h4 class="mx-3 my-1 text-purple-500">{{ post[i].userCompany }}</h4>
                                        </div>
                                        <div class="min-w-max mr-3 bg-green-100 border-round-xl">
                                            <h4 class="mx-3 my-1 text-green-500">{{ post[i].userPosition }}</h4>
                                        </div>

                                        <div class="relative">
                                            <div class="flex align-items-center text-900 cursor-pointer hover:bg-gray-100"
                                                pStyleClass="@next" enterClass="hidden" leaveToClass="hidden"
                                                [hideOnOutsideClick]="true">
                                                <div
                                                    class=" cursor-pointer hover:text-black-alpha-60 hover:bg-gray-100 transition-all transition-duration-200 px-3 py-2">
                                                    <i class="fa-solid fa-ellipsis text-xl"></i>
                                                </div>
                                            </div>
                                            <div class="absolute right-0 py-1 shadow-2 w-12rem bg-white hidden">
                                                <ul class="list-none p-0 m-0">
                                                    <li><a class="block px-3 pt-2 pb-3 no-underline text-black-alpha-60 hover:bg-gray-100 transition-all transition-duration-200 cursor-pointer"
                                                            routerLink="/posts/details/{{post[i].id}}">
                                                            show detail
                                                        </a></li>
                                                </ul>
                                            </div>
                                        </div>


                                    </div>
                                    <p-card styleClass="content-box">
                                        <h3 class="text-justify">{{post[i].title}}
                                        </h3>
                                        <p class="text-black-alpha-60 mt-3 text-justify">
                                            {{post[i].contents }}
                                        </p>
                                    </p-card>

                                    <div class="flex w-full column-gap-1 cursor-pointer">
                                        <ng-container *ngFor="let pa of post[i].postAttachment;index as j">
                                            <ng-container *ngIf="post[i].postAttachment.length == 1">
                                                <img src="{{urlFile}}{{ post[i].postAttachment[j].file.id }}"
                                                    alt="post image">
                                            </ng-container>
                                            <ng-container *ngIf="post[i].postAttachment.length == 2">
                                                <div
                                                    class="w-6 flex justify-content-center align-content-center h-30rem bg-black-alpha-30 overflow-hidden">
                                                    <img src="{{urlFile}}{{ post[i].postAttachment[j].file.id }}"
                                                        alt="post image" class="w-auto">
                                                </div>
                                            </ng-container>
                                            <ng-container *ngIf="post[i].postAttachment.length > 2">
                                                <ng-container *ngIf="j == 0">
                                                    <div
                                                        class="w-6 flex justify-content-center align-content-center h-30rem  overflow-hidden pb-1">
                                                        <img src="{{urlFile}}{{ post[i].postAttachment[j].file.id }}"
                                                            alt="post image" class="w-auto">
                                                    </div>
                                                </ng-container>
                                            </ng-container>
                                        </ng-container>

                                        <ng-container *ngIf="post[i].postAttachment.length > 2">
                                            <div class="flex w-6 flex-wrap">
                                                <ng-container *ngFor="let pa of post[i].postAttachment;index as j">
                                                    <ng-container *ngIf="j == 1">
                                                        <div
                                                            class="w-full flex justify-content-center align-content-center h-15rem overflow-hidden pb-1">
                                                            <img src="{{urlFile}}{{ post[i].postAttachment[j].file.id }}"
                                                                alt="post image" class="h-auto">
                                                        </div>
                                                    </ng-container>
                                                    <ng-container *ngIf="post[i].postAttachment.length == 3">
                                                        <ng-container *ngIf="j == 2">
                                                            <div
                                                                class="w-full flex justify-content-center align-content-center h-15rem overflow-hidden pb-1">
                                                                <img src="{{urlFile}}{{ post[i].postAttachment[j].file.id }}"
                                                                    alt="post image" class="h-auto">
                                                            </div>
                                                        </ng-container>
                                                    </ng-container>
                                                    <ng-container *ngIf="post[i].postAttachment.length > 3">
                                                        <ng-container *ngIf="j == 2">
                                                            <div
                                                                class="w-full flex justify-content-center align-content-center h-15rem overflow-hidden pb-1 relative">
                                                                <img src="{{urlFile}}{{ post[i].postAttachment[j].file.id }}"
                                                                    alt="post image" class="h-auto">
                                                                <div
                                                                    class="absolute w-full h-full bg-black-alpha-90 opacity-70 flex justify-content-center align-items-center">
                                                                    <h1 class="text-white">
                                                                        {{post[i].postAttachment.length -3}} +</h1>
                                                                </div>
                                                            </div>
                                                        </ng-container>
                                                    </ng-container>
                                                </ng-container>
                                            </div>
                                        </ng-container>
                                    </div>

                                    <div
                                        class="flex mt-5 align-items-center text-black-alpha-60 justify-content-between">
                                        <div class="flex align-items-center">
                                            <div class="flex align-items-center cursor-pointer hover:text-black-alpha-60 hover:bg-gray-100 transition-all transition-duration-200 px-3 py-2"
                                                (click)="actLike(post[i].id,post[i].likeId)">

                                                <i class="fa-regular fa-heart text-2xl mr-2"></i>
                                                <i class="fa-solid fa-heart text-red-500 text-2xl mr-2"></i>

                                                <p class="min-w-max">{{ post[i].countOfLike }} likes</p>
                                            </div>

                                            <div class="ml-1 flex align-items-center px-3 py-2">
                                                <i class="fa-regular fa-message text-2xl mr-2"></i>
                                                <p class="">15 comments</p>
                                            </div>
                                        </div>

                                        <div class="flex align-items-center cursor-pointer hover:text-black-alpha-60 hover:bg-gray-100 transition-all transition-duration-200 px-3 py-2"
                                            (click)="actBookmark(post[i].id,post[i].bookmarkId)">

                                            <i class="fa-regular fa-bookmark text-2xl mr-2"></i>
                                            <i class="fa-solid fa-bookmark text-2xl mr-2 main-text"></i>

                                            <p class="min-w-max">{{ post[i].countOfBookmark }}</p>
                                        </div>
                                    </div>

                                    <div pStyleClass="@next" enterClass="hidden" leaveToClass="hidden"
                                        [hideOnOutsideClick]="true" enterActiveClass="scalein"
                                        leaveActiveClass="fadeout"
                                        class="w-full text-right main-text cursor-pointer mt-2 underline hover:text-purple-500">
                                        <div (click)="btnToggleComment()">
                                            <ng-container *ngIf="isShowComment">
                                                <p>show comment</p>
                                            </ng-container>
                                            <ng-container *ngIf="!isShowComment">
                                                <p>hide comment</p>
                                            </ng-container>

                                        </div>
                                    </div>

                                    <div class="mt-4 hidden">
                                        <div class="flex mt-3">
                                            <div class="max-w-max mr-3">
                                                <img src="../../../assets/images/article.png" alt=""
                                                    class="w-2rem h-2rem border-circle">
                                            </div>
                                            <div class="w-max">
                                                <div class="bg-gray-100 px-3 py-2 border-round-xl">
                                                    <p class="font-medium">Alexa Victoria</p>
                                                    <p class=" text-black-alpha-60">Lorem ipsum dolor sit, amet
                                                        consectetur adipisicing elit. Quis id optio iste officiis
                                                        eveniet ducimus rerum saepe quod reprehenderit voluptas!</p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="flex mt-3">
                                            <div class="max-w-max mr-3">
                                                <img src="../../../assets/images/article.png" alt=""
                                                    class="w-2rem h-2rem border-circle">
                                            </div>
                                            <div class="w-max">
                                                <div class="bg-gray-100 px-3 py-2 border-round-xl">
                                                    <p class="font-medium">Alexa Victoria</p>
                                                    <p class=" text-black-alpha-60">Lorem ipsum dolor sit amet.</p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="flex mt-3">
                                            <div class="max-w-max mr-3">
                                                <img src="../../../assets/images/article.png" alt=""
                                                    class="w-2rem h-2rem border-circle">
                                            </div>
                                            <div class="w-full">
                                                <form class="card w-full">
                                                    <div class="field">
                                                        <input pInputText
                                                            class="text-lg w-full h-2rem border-round-2xl bg-gray-100"
                                                            type="text" placeholder="write comment...">
                                                        <p class="text-xs text-black-alpha-60">Press Enter to Send.
                                                        </p>
                                                    </div>
                                                    <div class="hidden">
                                                        <button type="submit"></button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-container>
                        </p-card>
                        <!-- <p-card>
                                <p-tabMenu [model]="items" [activeItem]="items[0]"></p-tabMenu>
    
                                <div class="md:mx-5">
                                    <div class="flex  align-items-center mb-3 mt-7">
                                        <div class="max-w-max mr-3">
                                            <img src="../../../assets/images/article.png" alt=""
                                                class="w-3rem h-3rem border-circle">
                                        </div>
                                        <div class="w-full">
                                            <h3>Rifki Dzaky</h3>
                                            <p class="text-black-alpha-60">Upload 1 hour ago</p>
                                        </div>
                                        <div class="min-w-max mr-3 bg-purple-100 border-round-xl">
                                            <h4 class="mx-3 my-1 text-purple-500">Lawencon</h4>
                                        </div>
                                        <div class="min-w-max mr-3 bg-green-100 border-round-xl">
                                            <h4 class="mx-3 my-1 text-green-500">Java Developer</h4>
                                        </div>
                                        <div class=" cursor-pointer">
                                            <i class="fa-solid fa-ellipsis-vertical"></i>
                                        </div>
                                    </div>
                                    <p-card styleClass="content-box">
                                        <h3 class="text-justify">Lorem ipsum dolor sit, amet consectetur adipisicing elit
                                        </h3>
                                        <p class="text-black-alpha-60 mt-3 text-justify">
                                            Lorem ipsum dolor sit amet consectetur, adipisicing
                                            elit.
                                            Tempore eos eius voluptates,
                                            exercitationem assumenda optio ut molestias necessitatibus ipsam ducimus
                                            delectus
                                            aut
                                            omnis dolore dicta! Neque libero eligendi reiciendis qui.
                                        </p>
                                        <div>
                                            <img src="../../../assets/images/article.png" alt="pos image"
                                                class="w-4 pr-3 mt-3">
                                            <img src="../../../assets/images/article.png" alt="pos image"
                                                class="w-4 pr-3 mt-3">
                                            <img src="../../../assets/images/article.png" alt="pos image"
                                                class="w-4 pr-3 mt-3">
                                        </div>
                                    </p-card>
    
                                    <p-card styleClass="pooling-content">
                                        <h3 class="text-justify">Lorem ipsum, dolor sit amet consectetur adipisicing
                                            elit</h3>
                                        <div class="mt-3 py-3 body-color">
                                            <div class="flex align-items-center">
                                                <p class="text-center text-lg main-text w-full">Option 1</p>
                                                <p class="min-w-max mr-3">5 votes</p>
                                            </div>
                                        </div>
                                        <div class="mt-3 py-3 body-color">
                                            <div class="flex align-items-center">
                                                <p class="text-center text-lg main-text w-full">Option 2</p>
                                                <p class="min-w-max mr-3">5 votes</p>
                                            </div>
                                        </div>
                                        <div class="mt-3 py-3 body-color">
                                            <div class="flex align-items-center">
                                                <p class="text-center text-lg main-text w-full">Option 3</p>
                                                <p class="min-w-max mr-3">5 votes</p>
                                            </div>
                                        </div>
    
                                        <div class="flex mt-5 align-items-center text-black-alpha-60">
                                            <i class="fa-solid fa-check-to-slot text-2xl mr-2 cursor-pointer"></i>
                                            <p class="w-full">15 votes</p>
    
                                            <p class="min-w-max">Until 2 day</p>
    
                                        </div>
                                    </p-card>
    
                                    <div class="flex mt-5 align-items-center text-black-alpha-60">
                                        <i class="fa-regular fa-heart text-2xl mr-2 cursor-pointer"></i>
                                        <p class="min-w-max">15 likes</p>
    
                                        <i class="fa-regular fa-message text-2xl ml-5 mr-2 cursor-pointer"></i>
                                        <p class="w-full">15 comments</p>
    
                                        <i class="fa-regular fa-bookmark text-2xl mr-2 cursor-pointer"></i>
                                    </div>
                                </div>
                            </p-card> -->
                    </ng-container>

                    <ng-container *ngIf="type == 'likes'">
                        <p-card>
                            <p-tabMenu [model]="items" [activeItem]="items[1]"></p-tabMenu>
                            <ng-container *ngFor="let l of like;index as i">
                                <div class="md:mx-5">
                                    <div class="flex  align-items-center mb-3 mt-7">
                                        <div class="max-w-max mr-3">
                                            <img src="{{urlFile}}{{ like[i].user.file.id }}" alt=""
                                                class="w-3rem h-3rem border-circle">
                                        </div>
                                        <div class="w-full">
                                            <h3>{{ like[i].user.fullName }}</h3>
                                            <p class="text-black-alpha-60">{{ like[i].post.createdAt }}</p>
                                        </div>
                                        <div class="min-w-max mr-3 bg-purple-100 border-round-xl">
                                            <h4 class="mx-3 my-1 text-purple-500">{{ like[i].user.company }}</h4>
                                        </div>
                                        <div class="min-w-max mr-3 bg-green-100 border-round-xl">
                                            <h4 class="mx-3 my-1 text-green-500">{{ like[i].user.position.positionName
                                                }}</h4>
                                        </div>
                                        <div class=" cursor-pointer">
                                            <i class="fa-solid fa-ellipsis-vertical"></i>
                                        </div>
                                    </div>
                                    <p-card styleClass="content-box">
                                        <h3 class="text-justify">{{ like[i].post.title }}
                                        </h3>
                                        <p class="text-black-alpha-60 mt-3 text-justify">
                                            {{ like[i].post.contents }}
                                        </p>
                                        <div>
                                            <ng-container *ngFor="let pa of like[i].postAttachment;index as j">
                                                <img src="{{urlFile}}{{ like[i].postAttachment[j].file.id }}"
                                                    alt="pos image" class="w-4 pr-3 mt-3">
                                            </ng-container>
                                        </div>
                                    </p-card>

                                    <div class="flex mt-5 align-items-center text-black-alpha-60">
                                        <i class="fa-regular fa-heart text-2xl mr-2 cursor-pointer"
                                            (click)="actLike(like[i].post.id,like[i].id)"></i>
                                        <p class="min-w-max">{{ like[i].countOfLike }} likes</p>

                                        <i class="fa-regular fa-message text-2xl ml-5 mr-2 cursor-pointer"></i>
                                        <p class="w-full">15 comments</p>

                                        <i class="fa-regular fa-bookmark text-2xl mr-2 cursor-pointer"
                                            (click)="actBookmark(like[i].post.id,like[i].bookmarkId)"></i>
                                        <p class="min-w-max">{{ post[i].countOfBookmark }}</p>
                                    </div>
                                </div>
                            </ng-container>
                            <!-- <p-card styleClass="pooling-content">
                                        <h3 class="text-justify">Lorem ipsum, dolor sit amet consectetur adipisicing
                                            elit</h3>
                                        <div class="mt-3 py-3 body-color">
                                            <div class="flex align-items-center">
                                                <p class="text-center text-lg main-text w-full">Option 1</p>
                                                <p class="min-w-max mr-3">5 votes</p>
                                            </div>
                                        </div>
                                        <div class="mt-3 py-3 body-color">
                                            <div class="flex align-items-center">
                                                <p class="text-center text-lg main-text w-full">Option 2</p>
                                                <p class="min-w-max mr-3">5 votes</p>
                                            </div>
                                        </div>
                                        <div class="mt-3 py-3 body-color">
                                            <div class="flex align-items-center">
                                                <p class="text-center text-lg main-text w-full">Option 3</p>
                                                <p class="min-w-max mr-3">5 votes</p>
                                            </div>
                                        </div>
    
                                        <div class="flex mt-5 align-items-center text-black-alpha-60">
                                            <i class="fa-solid fa-check-to-slot text-2xl mr-2 cursor-pointer"></i>
                                            <p class="w-full">15 votes</p>
    
                                            <p class="min-w-max">Until 2 day</p>
    
                                        </div>
                                    </p-card> -->

                        </p-card>
                    </ng-container>

                    <ng-container *ngIf="type == 'bookmarks'">
                        <p-card>
                            <p-tabMenu [model]="items" [activeItem]="items[2]"></p-tabMenu>

                            <ng-container *ngFor="let b of bookmark;index as i">
                                <div class="md:mx-5">
                                    <div class="flex  align-items-center mb-3 mt-7">
                                        <div class="max-w-max mr-3">
                                            <img src="{{urlFile}}{{ bookmark[i].user.file.id }}" alt=""
                                                class="w-3rem h-3rem border-circle">
                                        </div>
                                        <div class="w-full">
                                            <h3>{{ bookmark[i].user.fullName }}</h3>
                                            <p class="text-black-alpha-60">{{ bookmark[i].post.createdAt }}</p>
                                        </div>
                                        <div class="min-w-max mr-3 bg-purple-100 border-round-xl">
                                            <h4 class="mx-3 my-1 text-purple-500">{{ bookmark[i].user.company }}</h4>
                                        </div>
                                        <div class="min-w-max mr-3 bg-green-100 border-round-xl">
                                            <h4 class="mx-3 my-1 text-green-500">{{
                                                bookmark[i].user.position.positionName }}</h4>
                                        </div>
                                        <div class=" cursor-pointer">
                                            <i class="fa-solid fa-ellipsis-vertical"></i>
                                        </div>
                                    </div>
                                    <p-card styleClass="content-box">
                                        <h3 class="text-justify">{{ bookmark[i].post.title }}
                                        </h3>
                                        <p class="text-black-alpha-60 mt-3 text-justify">
                                            {{ bookmark[i].post.contents }}
                                        </p>
                                        <div>
                                            <ng-container *ngFor="let pa of bookmark[i].postAttachment;index as j">
                                                <img src="{{urlFile}}{{ bookmark[i].postAttachment[j].file.id }}"
                                                    alt="pos image" class="w-4 pr-3 mt-3">
                                            </ng-container>
                                        </div>
                                    </p-card>

                                    <!-- <p-card styleClass="pooling-content">
                                        <h3 class="text-justify">Lorem ipsum, dolor sit amet consectetur adipisicing
                                            elit</h3>
                                        <div class="mt-3 py-3 body-color">
                                            <div class="flex align-items-center">
                                                <p class="text-center text-lg main-text w-full">Option 1</p>
                                                <p class="min-w-max mr-3">5 votes</p>
                                            </div>
                                        </div>
                                        <div class="mt-3 py-3 body-color">
                                            <div class="flex align-items-center">
                                                <p class="text-center text-lg main-text w-full">Option 2</p>
                                                <p class="min-w-max mr-3">5 votes</p>
                                            </div>
                                        </div>
                                        <div class="mt-3 py-3 body-color">
                                            <div class="flex align-items-center">
                                                <p class="text-center text-lg main-text w-full">Option 3</p>
                                                <p class="min-w-max mr-3">5 votes</p>
                                            </div>
                                        </div>
    
                                        <div class="flex mt-5 align-items-center text-black-alpha-60">
                                            <i class="fa-solid fa-check-to-slot text-2xl mr-2 cursor-pointer"></i>
                                            <p class="w-full">15 votes</p>
    
                                            <p class="min-w-max">Until 2 day</p>
    
                                        </div>
                                    </p-card> -->

                                    <div class="flex mt-5 align-items-center text-black-alpha-60">
                                        <i class="fa-regular fa-heart text-2xl mr-2 cursor-pointer"></i>
                                        <p class="min-w-max">{{ bookmark[i].countOfLike }} likes</p>

                                        <i class="fa-regular fa-message text-2xl ml-5 mr-2 cursor-pointer"></i>
                                        <p class="w-full">15 comments</p>

                                        <i class="fa-regular fa-bookmark text-2xl mr-2 cursor-pointer"
                                            (click)="actBookmark(bookmark[i].post.id,bookmark[i].id)"></i>
                                        <p class="min-w-max">{{ post[i].countOfBookmark }}</p>
                                    </div>
                                </div>
                            </ng-container>
                        </p-card>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</div>

<p-dialog [(visible)]="display" [breakpoints]="{'960px': '75vw', '640px': '100vw'}">
    <ng-template pTemplate="header">
        <ng-container *ngIf="postType == 'premium'">
            <div class="border-circle bg-orange-300 icon-box flex align-items-center justify-content-center">
                <i class="fa-regular fa-gem icon text-xl"></i>
            </div>
        </ng-container>
        <ng-container *ngIf="postType == 'regular'">
            <div class="border-circle main-color icon-box flex align-items-center justify-content-center">
                <i class="fa-regular fa-note-sticky icon text-xl"></i>
            </div>
        </ng-container>
        <h3 class="capitalize">{{postType}} Post</h3>
    </ng-template>
    <div class="grid bg-white border-round-xl w-30rem">
        <div class="col-12">
            <div class="flex mb-3">
                <div class="max-w-max mr-3">
                    <img src="../../../assets/images/article.png" alt="" class="w-3rem h-3rem border-circle">
                </div>
                <div class="w-full">
                    <h3>Rifki Dzaky</h3>
                    <p class="text-black-alpha-60">Java Developer</p>
                </div>
            </div>
            <form class="card" [formGroup]="postForm">
                <div class="field">
                    <input pInputText id="title" name="title" type="text" class="w-full p-inputtext-sm"
                        formControlName="title" placeholder="title" required>
                </div>
                <div class="field">
                    <textarea [rows]="5" [cols]="30" pInputTextarea [autoResize]="true" name="contents" type="text"
                        formControlName="contents" class="w-full h-auto text-sm" placeholder="contents"></textarea>
                </div>
                <div class="field">
                    <label for="file">Photo</label>
                    <p-fileUpload id="file" name="file" accept="image/*" [customUpload]="true"
                        (uploadHandler)="fileUpload($event)" [multiple]="true">
                    </p-fileUpload>
                </div>
                <button pButton [disabled]="postForm.invalid" type="submit" (click)="postInsert()"
                    class="main-color w-full mt-3" label="SUBMIT"></button>
            </form>
        </div>
    </div>
</p-dialog>