<div class="w-full body-color">
    <div class=" flex justify-content-center flex-wrap">
        <div class="grid w-full md:w-10 container">
            <div class="col-4">
                <div class=" flex align-items-center mb-4 mt-5">
                    <div
                        class="border-circle bg-black-alpha-40 icon-box flex align-items-center justify-content-center">
                        <i class="fa-solid fa-gear icon text-2xl"></i>
                    </div>
                    <h2 class=" ml-3">
                        Setting
                    </h2>
                </div>
                <p-card>
                    <p-panelMenu [model]="items" [style]="{'width':'100%'}"></p-panelMenu>
                </p-card>
            </div>


            <div class="col-8">
                <div class=" flex align-items-center mb-4 mt-5">
                    <div
                        class="border-circle bg-black-alpha-40 icon-box flex align-items-center justify-content-center">
                        <i class="fa-solid fa-code icon text-xl"></i>
                    </div>
                    <h3 class=" ml-3">
                        Change Password
                    </h3>
                </div>
                <div>
                    <p-card>
                        <div class="grid w-full bg-white">
                            <form [formGroup]="changePassForm" class="card w-full mx-3 border-0 md:px-4 my-3">
                                <div class="formgrid grid">
                                    <div class="field col-12 md:col-6">
                                        <label for="oldPassword">Old Password <span
                                                class="text-red-500">*</span></label>
                                        <input pInputText id="oldPassword" name="oldPassword" type="text"
                                            class="w-full p-inputtext-sm">
                                    </div>
                                    <div class="field col-12 md:col-6">
                                        <label for="newPassword">New Password <span
                                                class="text-red-500">*</span></label>
                                        <input pInputText id="newPassword" name="newPassword" type="text"
                                            class="w-full p-inputtext-sm">
                                    </div>
                                    <div class="field col-12 md:col-6">
                                        <label for="confirmPassword">Confirm Password <span
                                                class="text-red-500">*</span></label>
                                        <input pInputText id="confirmPassword" name="confirmPassword" type="text"
                                            class="w-full p-inputtext-sm">
                                    </div>
                                    <div class="field col-12">
                                        <div class="col-12 my-3">
                                            <button pButton routerLink="/profiles/member" type="submit"
                                                class="p-button-outlined mr-2" label="BACK"></button>
                                            <button pButton [disabled]="changePassForm.invalid" type="submit"
                                                id="position-save" label="SAVE" class="main-color"></button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </p-card>
                </div>
            </div>
        </div>
    </div>
</div>