<div class="w-full body-color">
    <div class=" flex justify-content-center flex-wrap">
        <div class="grid w-full lg:w-10 container">
            <div class="col-12 md:col-4">
                <div class=" flex align-items-center mb-4 mt-5">
                    <div
                        class="border-circle bg-black-alpha-40 icon-box flex align-items-center justify-content-center">
                        <i class="fa-solid fa-gear icon text-2xl"></i>
                    </div>
                    <h2 class=" ml-3">
                        Setting
                    </h2>
                </div>
                <p-card>
                    <p-panelMenu [model]="items" [style]="{'width':'100%'}"></p-panelMenu>
                </p-card>
            </div>


            <div class="col-12 md:col-8">
                <div class=" flex align-items-center mb-4 mt-5">
                    <div
                        class="border-circle bg-black-alpha-40 icon-box flex align-items-center justify-content-center">
                        <i class="fa-solid fa-code icon text-xl"></i>
                    </div>
                    <h3 class=" ml-3">
                        Change Password
                    </h3>
                </div>
                <div>
                    <p-card>
                        <div class="grid w-full bg-white">
                            <form [formGroup]="inputPassForm" class="card w-full ml-3 border-0 md:px-4 my-3">
                                <div class="formgrid grid">
                                    <div class="field col-12 md:col-6">
                                        <label for="newPassword">New Password <span
                                                class="text-red-500">*</span></label>
                                        <p-password id="newPassword" name="newPassword" formControlName="newPassword"
                                            styleClass="w-full p-inputtext-sm" inputStyleClass="w-full p-inputtext-sm"
                                            [toggleMask]="true" [feedback]="false"></p-password>
                                        <small
                                            *ngIf="inputPassForm.controls['newPassword'].touched && inputPassForm.controls['newPassword'].errors?.['required']"
                                            id="pass-help" class="p-error block">Please enter your new password.</small>
                                    </div>
                                    <div class="field col-12 md:col-6">
                                        <label for="confirmPassword">Confirm Password <span
                                                class="text-red-500">*</span></label>
                                        <p-password id="confirmPassword" name="confirmPassword"
                                            formControlName="confirmPassword" styleClass="w-full p-inputtext-sm"
                                            inputStyleClass="w-full p-inputtext-sm" [toggleMask]="true"
                                            [feedback]="false"></p-password>
                                        <small
                                            *ngIf="inputPassForm.controls['confirmPassword'].touched && inputPassForm.controls['confirmPassword'].errors?.['required']"
                                            id="pass-help" class="p-error block">Please enter your confirm
                                            password.</small>
                                    </div>
                                    <div class="field col-12">
                                        <div class="col-12 my-3">
                                            <button pButton routerLink="/profiles/member" type="submit"
                                                class="p-button-outlined mr-2" label="BACK"></button>
                                            <button pButton [disabled]="inputPassForm.invalid" type="submit"
                                                id="position-save" label="SAVE" class="main-color"
                                                (click)="showPopUpUpdate()"></button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </p-card>
                </div>
            </div>
        </div>
    </div>
</div>

<p-confirmDialog [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '50vw'}"
    rejectButtonStyleClass="p-button-outlined" acceptButtonStyleClass="p-button-warning">
</p-confirmDialog>