<div class="container my-5">
    <div class="card mx-md-5 mx-1">
        <form class="row mx-sm-5 mx-1 align-content-center">
            <div class="col-lg-6 my-3">
                <label for="oldPassword" class="form-label">Old Password <span class="text-danger">*</span></label>
                <input type="password" class="form-control" id="oldPassword" name="oldPassword" required>
            </div>
            <div class="col-lg-6 my-3">
                <label for="newPassword" class="form-label">New Password <span class="text-danger">*</span></label>
                <input type="password" class="form-control" id="newPassword" name="newPassword" required>
            </div>
            <div class="col-lg-6 my-3">
                <label for="confirmPassword" class="form-label">Confirm Password <span
                        class="text-danger">*</span></label>
                <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" required>
            </div>

            <div class="col-12 my-3">
                <a href="/profiles/non-admin" class="btn btn-outline-success me-1">Back</a>
                <button type="button" class="btn btn-success" id="non-admin-pwd-save">Save</button>
            </div>
        </form>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalPopUp" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <img id="pop-up-img" src="" alt="images">
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-success" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>