<div class="flex body-color justify-content-center">
    <div class="w-full body-color container">
        <div class=" flex justify-content-center flex-wrap">
            <div class="grid w-full ">
                <button pButton (click)="back()" type="submit" class="p-button-outlined my-5 ml-2"
                    label="BACK"></button>
            </div>
            <div class="grid w-full mb-5 p-3 bg-white">
                <form [formGroup]="inputPassForm" class="card w-full ml-3 border-0 md:px-4 my-3">
                    <div class="formgrid grid">
                        <div class="field col-12 md:col-6">
                            <label for="newPassword">New Password <span class="text-red-500">*</span></label>
                            <p-password id="newPassword" name="newPassword" formControlName="newPassword"
                                styleClass="w-full p-inputtext-sm" inputStyleClass="w-full p-inputtext-sm"
                                [toggleMask]="true" [feedback]="false"></p-password>
                            <small
                                *ngIf="inputPassForm.controls['newPassword'].touched && inputPassForm.controls['newPassword'].errors?.['required']"
                                id="pass-help" class="p-error block">Please enter your new password.</small>
                        </div>
                        <div class="field col-12 md:col-6">
                            <label for="confirmPassword">Confirm Password <span class="text-red-500">*</span></label>
                            <p-password id="confirmPassword" name="confirmPassword" formControlName="confirmPassword"
                                styleClass="w-full p-inputtext-sm" inputStyleClass="w-full p-inputtext-sm"
                                [toggleMask]="true" [feedback]="false"></p-password>
                            <small
                                *ngIf="inputPassForm.controls['confirmPassword'].touched && inputPassForm.controls['confirmPassword'].errors?.['required']"
                                id="pass-help" class="p-error block">Please enter your confirm
                                password.</small>
                        </div>
                        <div class="field col-12">
                            <div class="my-3">
                                <button pButton [disabled]="inputPassForm.invalid" type="submit" id="position-save"
                                    label="SAVE" class="main-color" (click)="showPopUpUpdate()"></button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<p-confirmDialog [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '50vw'}"
    rejectButtonStyleClass="p-button-outlined" acceptButtonStyleClass="p-button-warning">
</p-confirmDialog>