/*====================== HEADER  ======================*/

:host ::ng-deep .p-menubar {
    background-color: #fff;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
}

.container-fluid {
    border-bottom: 4px solid rgba(208, 207, 207, 0.5);
}

@media screen and (min-width: 575px) {
    :host ::ng-deep .settings {
        display: none;
    }
}

@media screen and (min-width: 575px) {
    :host ::ng-deep .premiums {
        display: none;
    }
}

@media screen and (max-width: 575px) {
    .profile {
        display: none;
    }
}

@media screen and (max-width: 575px) {
    .start-premium {
        display: none;
    }
}

@media screen and (min-width: 1200px) {
    :host::ng-deep .p-menubar {
        width: 1200px;
    }

    .container-fluid {
        display: flex;
        justify-content: center;
    }
}

/*====================== THREAD  ======================*/

:host ::ng-deep .p-tabmenuitem {
    width: 33.33%;
}

:host ::ng-deep .content-box.p-card {
    background-color: #F4F4F4;
}

:host ::ng-deep .pooling-content.p-card {
    margin-top: 1.5rem;
}



/*====================== ACTIVITY  ======================*/

:host ::ng-deep .activity-card .p-card-content {
    padding: 0px;
}

:host ::ng-deep .calendar .p-inputtext {
    font-size: 0.875rem;
    padding: 0.875rem;
    width: 350px;
}