<div class="flex body-color justify-content-center">
    <div class="w-full body-color  container">
        <div class=" flex justify-content-center flex-wrap">
            <div class="grid w-full mt-1">
                <p-breadcrumb [model]="items" class="w-full body-color"></p-breadcrumb>
            </div>
            <div class="grid w-full ">
                <h1 class="text-center w-full mt-5 mb-2">
                    <div class="flex justify-content-center align-items-center mb-5">
                        <div
                            class="border-circle main-color text-white flex align-items-center justify-content-center w-3rem h-3rem">
                            <i class="fa-solid fa-users text-xl"></i>
                        </div>
                        <h4 class="ml-3 md:text-3xl text-2xl">
                            Member List
                        </h4>
                    </div>
                </h1>
            </div>
            <div class="grid w-full lg:w-9">
                <div class="table w-full">

                    <p-tabMenu [model]="navMenus"></p-tabMenu>

                    <div *ngIf="type == 'approve-payments'" class="table w-full">
                        <p-table #dt1 [value]="data" [lazy]="true" (onLazyLoad)="loadData($event)"
                            responsiveLayout="scroll" [paginator]="true" [rows]="maxPage" [totalRecords]="totalData"
                            [globalFilterFields]="['id', 'title']">

                            <ng-template pTemplate="header">
                                <tr>
                                    <th pSortableColumn="no" class="text-center">No.</th>
                                    <th pSortableColumn="fullName">Full Name</th>
                                    <th pSortableColumn="proofOfPayment" class="text-center">Proof of Payment</th>
                                    <th pSortableColumn="action" class="text-center">Action</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-data let-i="rowIndex">
                                <tr>
                                    <td class="text-center">{{i + 1}}</td>
                                    <td>{{data.user.fullName}}</td>
                                    <td>
                                        <div class="flex justify-content-center">
                                            <ng-container *ngIf="data.file">
                                                <a class="block py-2 px-3 border-round-sm bg-green-400 max-w-max text-white no-underline font-medium hover:bg-green-300" href="{{ urlFile }}{{ data.file.id }}">
                                                    <i class="fa-solid fa-download mr-2 my-1"></i>
                                                    DOWNLOAD
                                                </a>
                                            </ng-container>
                                          </div>
                                    </td>
                                    <td class="text-center">
                                        <button pButton type="button" class="p-button-danger mr-2" label="REJECT"
                                            (click)="rejectPayment(data.id)">
                                            <i class="fa-solid fa-xmark mr-2"></i>
                                        </button>
                                        <button pButton type="button" label="APPROVE" [loading]="loadingSubscribe"
                                            (click)="approvePayment(data.id)">
                                            <i class="fa-solid fa-pen text-sm mr-2"></i>
                                        </button>
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>


                    <div *ngIf="type == 'approves'" class="table w-full">
                        <p-table #dt1 [value]="dataApprove" [lazy]="true" (onLazyLoad)="loadDataApproved($event)"
                            responsiveLayout="scroll" [paginator]="true" [rows]="maxPage" [totalRecords]="totalData"
                            [globalFilterFields]="['id', 'title']">

                            <ng-template pTemplate="header">
                                <tr>
                                    <th pSortableColumn="no" class="text-center">No.</th>
                                    <th pSortableColumn="fullName">Full Name</th>
                                    <th pSortableColumn="proofOfPayment" class="text-center">Proof of Payment</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-data let-i="rowIndex">
                                <tr>
                                    <td class="text-center">{{i + 1}}</td>
                                    <td>{{data.user.fullName}}</td>
                                    <td>
                                        <div class="flex justify-content-center">
                                            <ng-container *ngIf="data.file">
                                                <a class="block py-2 px-3 border-round-sm bg-green-400 max-w-max text-white no-underline font-medium hover:bg-green-300" href="{{ urlFile }}{{ data.file.id }}">
                                                    <i class="fa-solid fa-download mr-2 my-1"></i>
                                                    DOWNLOAD
                                                </a>
                                            </ng-container>
                                          </div>
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>

                    <div *ngIf="type == 'rejects'" class="table w-full">
                        <p-table #dt1 [value]="dataReject" [lazy]="true" (onLazyLoad)="loadDataReject($event)"
                            responsiveLayout="scroll" [paginator]="true" [rows]="maxPage" [totalRecords]="totalData"
                            [globalFilterFields]="['id', 'title']">

                            <ng-template pTemplate="header">
                                <tr>
                                    <th pSortableColumn="no" class="text-center">No.</th>
                                    <th pSortableColumn="fullName">Full Name</th>
                                    <th pSortableColumn="proofOfPayment" class="text-center">Proof of Payment</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-data let-i="rowIndex">
                                <tr>
                                    <td class="text-center">{{i + 1}}</td>
                                    <td>{{data.user.fullName}}</td>
                                    <td>
                                        <div class="flex justify-content-center">
                                            <ng-container *ngIf="data.file">
                                                <a class="block py-2 px-3 border-round-sm bg-green-400 max-w-max text-white no-underline font-medium hover:bg-green-300" href="{{ urlFile }}{{ data.file.id }}">
                                                    <i class="fa-solid fa-download mr-2 my-1"></i>
                                                    DOWNLOAD
                                                </a>
                                            </ng-container>
                                          </div>
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
