<div class="w-full body-color">
    <div class=" flex justify-content-center flex-wrap">
        <div class="grid w-full lg:w-10 container">
            <div class="col-12 md:col-4">
                <div class=" flex align-items-center mb-4 mt-5">
                    <div class="border-circle bg-indigo-500 icon-box flex align-items-center justify-content-center">
                        <i class="fa-regular fa-file icon text-2xl"></i>
                    </div>
                    <h2 class=" ml-3">
                        Pages
                    </h2>
                </div>
                <p-card>
                    <p-panelMenu [model]="items" [style]="{'width':'100%'}"></p-panelMenu>
                </p-card>

            </div>
            <div class="col-12 md:col-8">
                <div class="flex justify-content-end my-4">
                    <button pButton type="button" class="p-button-outlined" label="Back"
                        routerLink="/activities/type/all">
                    </button>
                </div>
                <div>
                    <p-card>
                        <div class="grid w-full bg-white">
                            <h3 class="ml-3 border-0 md:px-4">Create your own activity :</h3>
                            <form [formGroup]="activityForm" class="card w-full ml-3 border-0 md:px-4 my-3">
                                <div class="formgrid grid">
                                    <div class="field col-12 md:col-6">
                                        <label for="title">Title<span class="text-red-500">*</span></label>
                                        <input pInputText id="title" formControlName="title" name="title" type="text"
                                            class="w-full p-inputtext-sm" required>
                                    </div>
                                    <div class="field col-12 md:col-6">
                                        <label for="provider">Provider<span class="text-red-500">*</span></label>
                                        <input pInputText id="provider" formControlName="provider" name="provider"
                                            type="text" class="w-full p-inputtext-sm" required>
                                    </div>
                                    <div class="field col-12 md:col-6">
                                        <label for="location">Location<span class="text-red-500">*</span></label>
                                        <input pInputText id="location" formControlName="location" name="location"
                                            type="text" class="w-full p-inputtext-sm" required>
                                    </div>
                                    <div class="field col-12 md:col-6">
                                        <label for="price">Price<span class="text-red-500">*</span></label>
                                        <input pInputText id="price" formControlName="price" name="price" type="number"
                                            class="w-full p-inputtext-sm" required>
                                    </div>
                                    <div class="field col-12 md:col-6">
                                        <label for="beginSchedule" class="w-full">Begin Schedule<span
                                                class="text-red-500">*</span></label>
                                        <p-calendar [showTime]="true" inputId="beginSchedule" styleClass="calendar"
                                            id="beginSchedule" formControlName="beginSchedule" [required]="true">
                                        </p-calendar>
                                    </div>
                                    <div class="field col-12 md:col-6">
                                        <label for="finishSchedule" class="w-full">Finish Schedule<span
                                                class="text-red-500">*</span></label>
                                        <p-calendar [showTime]="true" inputId="finishSchedule" styleClass="calendar"
                                            id="finishSchedule" formControlName="finishSchedule" [required]="true">
                                        </p-calendar>
                                    </div>
                                    <div class="field col-12 md:col-6">
                                        <label for="activityTypeName">Activity Type <span
                                                class="text-red-500">*</span></label>
                                        <p-dropdown [options]="activityTypes" styleClass="w-full"
                                            optionLabel="activityTypeName" optionValue="id" name="activityType"
                                            id="activityTypeName" formControlName="activityTypeId"
                                            placeholder="Select an Activity Type" class="w-full p-inputtext-sm"
                                            [required]="true">
                                        </p-dropdown>
                                    </div>
                                    <div class="field col-12">
                                        <label for="file">Photo <span class="text-red-500">*</span></label>
                                        <p-fileUpload id="file" name="file" accept="image/*" [customUpload]="true"
                                            (uploadHandler)="fileUpload($event)">
                                        </p-fileUpload>
                                    </div>
                                    <div class="col-12 my-3">
                                        <button [loading]="loadingActivity" [disabled]="activityForm.invalid" pButton
                                            type="submit" id="activity-submit" label="SUBMIT" (click)="submitInsert()"
                                            class="main-color"></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </p-card>
                </div>
            </div>
        </div>
    </div>
</div>