<div class="w-full body-color">
    <div class=" flex justify-content-center flex-wrap">
        <div class="grid w-full lg:w-10 container">
            <div class="col-12 md:col-4">
                <div class=" flex align-items-center mb-4 mt-5">
                    <div class="border-circle bg-indigo-500 icon-box flex align-items-center justify-content-center">
                        <i class="fa-regular fa-file icon text-2xl"></i>
                    </div>
                    <h2 class=" ml-3">
                        Pages
                    </h2>
                </div>
                <p-card>
                    <p-panelMenu [model]="items" [style]="{'width':'100%'}"></p-panelMenu>
                </p-card>

            </div>
            <div class="col-12 md:col-8">
                <div class="flex justify-content-end my-4">
                    <button pButton type="button" class="p-button-outlined" label="Back"
                        routerLink="/activities/type/all">
                    </button>
                </div>
                <div>
                    <p-card>
                        <div class="grid w-full bg-white">
                            <h3 class="ml-3 border-0 md:px-4">Create your own activity :</h3>
                            <form [formGroup]="activityForm" class="card w-full ml-3 border-0 md:px-4 my-3">
                                <div class="formgrid grid">
                                    <div class="field col-12 md:col-6">
                                        <label for="title">Title <span class="text-red-500">*</span></label>
                                        <input pInputText id="title" formControlName="title" name="title" type="text"
                                            class="w-full p-inputtext-sm" required maxlength="50">
                                        <small
                                            *ngIf="activityForm.controls['title'].touched && activityForm.controls['title'].errors?.['required']"
                                            id="title-poll-help" class="p-error block">Please enter your
                                            title.</small>
                                    </div>
                                    <div class="field col-12 md:col-6">
                                        <label for="provider">Provider <span class="text-red-500">*</span></label>
                                        <input pInputText id="provider" formControlName="provider" name="provider"
                                            type="text" class="w-full p-inputtext-sm" required maxlength="100">
                                        <small
                                            *ngIf="activityForm.controls['provider'].touched && activityForm.controls['provider'].errors?.['required']"
                                            id="provider-poll-help" class="p-error block">Please enter your
                                            provider.</small>
                                    </div>
                                    <div class="field col-12 md:col-6">
                                        <label for="beginSchedule" class="w-full">Begin Schedule <span
                                                class="text-red-500">*</span></label>
                                        <p-calendar [showTime]="true" inputId="beginSchedule" styleClass="calendar"
                                            id="beginSchedule" formControlName="beginSchedule" [required]="true"
                                            [minDate]="minDate" [defaultDate]="minDate" (onSelect)="getValueDate()">
                                        </p-calendar>
                                        <small
                                            *ngIf="activityForm.controls['beginSchedule'].touched && activityForm.controls['beginSchedule'].errors?.['required']"
                                            id="beginSchedule-poll-help" class="p-error block">Please enter your
                                            begin schedule.</small>
                                        <small class=" block">Minimum begin schedule one hour from now.</small>
                                    </div>
                                    <div class="field col-12 md:col-6">
                                        <label for="finishSchedule" class="w-full">Finish Schedule <span
                                                class="text-red-500">*</span></label>
                                        <p-calendar [showTime]="true" inputId="finishSchedule" styleClass="calendar"
                                            id="finishSchedule" formControlName="finishSchedule" [required]="true"
                                            [minDate]="minFinishDate" [defaultDate]="minFinishDate"
                                            [disabled]="showFinishSchedule">
                                        </p-calendar>
                                        <small
                                            *ngIf="activityForm.controls['finishSchedule'].touched && activityForm.controls['finishSchedule'].errors?.['required']"
                                            id="finishSchedule-poll-help" class="p-error block">Please enter your
                                            finish schedule.</small>
                                    </div>

                                    <div class="field col-12 md:col-6">
                                        <label for="price">Price <span class="text-red-500">*</span></label>
                                        <p-inputNumber id="price" formControlName="price" name="price" type="number"
                                            styleClass="w-full p-inputtext-sm" class="w-full p-inputtext-sm"
                                            [min]="10000" mode="currency" currency="IDR"
                                            [required]=true></p-inputNumber>
                                        <small class=" block">Minimum price IDR 10,000.00.</small>
                                    </div>
                                    <div class="field col-12 md:col-6">
                                        <label for="location">Location <span class="text-red-500">*</span></label>
                                        <input pInputText id="location" formControlName="location" name="location"
                                            type="text" class="w-full p-inputtext-sm" required>
                                        <small
                                            *ngIf="activityForm.controls['location'].touched && activityForm.controls['location'].errors?.['required']"
                                            id="location-poll-help" class="p-error block">Please enter your
                                            location.</small>
                                    </div>
                                    <div class="field col-12 md:col-6">
                                        <label for="activityTypeName">Activity Type <span
                                                class="text-red-500">*</span></label>
                                        <p-dropdown [options]="activityTypes" styleClass="w-full"
                                            optionLabel="activityTypeName" optionValue="id" name="activityType"
                                            id="activityTypeName" formControlName="activityTypeId"
                                            placeholder="Select an Activity Type" class="w-full p-inputtext-sm"
                                            [required]="true">
                                        </p-dropdown>
                                    </div>
                                    <div class="field col-12">
                                        <label for="file">Photo </label>
                                        <p-fileUpload id="file" name="file" accept="image/*"
                                            (uploadHandler)="fileUpload($event)" [auto]=true [customUpload]="true"
                                            chooseLabel="Choose">
                                        </p-fileUpload>
                                    </div>
                                    <div class="col-12 my-3">
                                        <button [loading]="loadingActivity" pButton type="submit" id="activity-submit"
                                            [disabled]="activityForm.invalid" label="SUBMIT" (click)="submitInsert()"
                                            class="main-color"></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </p-card>
                </div>
            </div>
        </div>
    </div>
</div>