:host ::ng-deep .p-menubar {
    background-color: var(--main-color);
    border: none;
    border-radius: 0;
}

:host ::ng-deep .p-submenu-icon {
    color: #fff !important;
}




/* :host ::ng-deep .p-menuitem-text,
:host ::ng-deep .p-menuitem-icon,
:host ::ng-deep .p-submenu-icon {
    color: #fff !important;
}

:host ::ng-deep .p-menuitem {
    background-color: var(--main-color);
} */