<div class="w-full body-color">
    <div class=" flex justify-content-center flex-wrap">
        <div class="w-full md:w-10 container mt-3">
            <p-card infinite-scroll (scrolled)="onScroll()">
                <div class="grid ">
                    <div *ngFor="let a of article; index as i" class="col-12 mt-2">
                        <p-card styleClass="activity-card">
                            <div class="grid w-full ">
                                <div class="col-12 md:col-4">
                                    <div
                                        class="w-full h-12rem flex justify-content-center align-items-center overflow-hidden">
                                        <p-image *ngIf="article[i].file.files" [preview]="true" src="{{urlFile}}{{ article[i].file.id}}"
                                            alt="article img" imageClass="w-full">
                                        </p-image>
                                        <p-image *ngIf="!article[i].file.files" [preview]="true" src="../../../../assets/images/article.jpg"
                                            alt="article img" imageClass="w-full">
                                        </p-image>
                                    </div>
                                </div>
                                <div class="col-12 md:col-8 flex align-items-center">
                                    <div class="w-full">
                                        <h2>{{ article[i].title }}</h2>
                                        <div class="text-black-alpha-60 mt-3 w-full">
                                            <div class="flex mt-2 h-details overflow-hidden line-height-2 text-justify">
                                                <p>{{ article[i].contents }}</p>
                                            </div>
                                            <p *ngIf="article[i].contents.length > 200">. . .</p>

                                            <div class="text-right mt-3 flex justify-content-between">
                                                <p class="text-black-alpha-60">
                                                    {{ article[i].createdAt | timeAgo }}
                                                </p>
                                                <div routerLink="/articles/members/details/{{article[i].id}}"
                                                    class=" cursor-pointer font-medium text-black-alpha-60 hover:underline hover:text-black-alpha-50">
                                                    <p>Show details</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </p-card>
                    </div>
                </div>
            </p-card>
        </div>
    </div>
</div>