<div class="flex body-color justify-content-center">
    <div class="w-full body-color container">
        <div class=" flex justify-content-center flex-wrap">
            <div class="grid w-full mt-1">
                <p-breadcrumb [model]="items" class="w-full body-color"></p-breadcrumb>
            </div>
            <div class="grid w-full ">
                <h1 class="text-center w-full mt-5 mb-2">
                    <div class="flex justify-content-center align-items-center mb-5">
                        <div
                            class="border-circle main-color text-white flex align-items-center justify-content-center w-3rem h-3rem">
                            <i class="fa-solid fa-briefcase text-xl"></i>
                        </div>
                        <h4 class="ml-3 md:text-3xl text-2xl">
                            Industries
                        </h4>
                    </div>
                </h1>
            </div>
            <div class="grid w-full ">
                <button pButton routerLink="/industries/new" label="INSERT" class="mb-5 ml-2 main-color">
                    <i class="fa-solid fa-plus mr-2 text-sm"></i>
                </button>
            </div>
            <div class="grid w-full">
                <div class="table w-full">
                    <p-table #dt1 [value]="data" [lazy]="true" (onLazyLoad)="loadData($event)" responsiveLayout="scroll"
                        [paginator]="true" [rows]="maxPage" [totalRecords]="totalData" [loading]="loading">
                        <ng-template pTemplate="header">
                            <tr>
                                <th pSortableColumn="no" class="text-center">No.</th>
                                <th pSortableColumn="industryName">Industry Name</th>
                                <th pSortableColumn="industryCode">Industry Code</th>
                                <th pSortableColumn="action" class="text-center">Action</th>
                            </tr>
                        </ng-template>

                        <ng-template pTemplate="body" let-data let-i="rowIndex">
                            <tr>
                                <td class="text-center">{{i + 1}}</td>
                                <td>{{data.industryName}}</td>
                                <td>{{data.industryCode}}</td>
                                <td class="text-center">
                                    <div class="flex justify-content-center">
                                        <button pButton routerLink="/industries/edit/{{data.id}}" type="button"
                                            class="mr-1 main-color" label="UPDATE">
                                            <i class="fa-solid fa-pen text-sm mr-2"></i>
                                        </button>
                                        <button pButton (click)="getDeleteId(data.id)" type="button"
                                            class="p-button-danger" label="DELETE" [loading]="loadingDelete">
                                            <i class="fa-solid fa-trash-can text-sm mr-2"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div>
    </div>
</div>

<p-confirmDialog [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '50vw'}"
    rejectButtonStyleClass="p-button-outlined" acceptButtonStyleClass="p-button-danger">
</p-confirmDialog>
