<div class="w-full body-color">
    <div class=" flex justify-content-center flex-wrap">
        <div class="col-12 md:col-8 md:px-3 px-1 py-3">
            <div class="w-full">
                <img src="../../../../assets/images/article.png" alt="article image">
            </div>
            <p-card>
                <div class="md:mx-5 mb-3">
                    <div class="w-full">
                        <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, dolorum.</h2>
                        <p class="text-black-alpha-60  mt-3 text-justify">Lorem ipsum dolor sit amet consectetur
                            adipisicing
                            elit. At fuga totam dicta praesentium sunt ipsa, asperiores vitae alias distinctio,
                            natus illum quas nobis? Dicta nesciunt ullam assumenda amet, dignissimos error?
                        </p>
                        <p class="text-black-alpha-60  mt-3 text-justify">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem distinctio delectus,
                            molestiae alias officia mollitia earum esse quia eum blanditiis voluptatum nulla praesentium
                            voluptates! Error id impedit inventore omnis facere ad excepturi soluta dolorem veritatis
                            beatae exercitationem repellendus quasi deserunt vel architecto animi facilis atque harum
                            nesciunt, hic dignissimos. Omnis vero enim iure nemo, dolorem culpa reprehenderit quasi
                            autem ullam!
                        </p>
                    </div>
                </div>
            </p-card>
        </div>
    </div>
</div>